Repository bcgov/jag-traffic-courts-online, pull requests merged in 2021-06, with the labels that each got.

#131 Add use of app.config.json and keycloak.json
  src/frontend/citizen-portal/Dockerfile
  src/frontend/citizen-portal/angular.json
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/setenv.ts
  src/frontend/citizen-portal/src/app/app-routing.module.ts
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/config/config.module.ts
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.spec.ts
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.spec.ts
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/core/interceptors/error-handler.interceptor.spec.ts
  src/frontend/citizen-portal/src/app/core/keycloak/keycloak.module.ts
  src/frontend/citizen-portal/src/app/core/resources/api-resource.service.ts
  src/frontend/citizen-portal/src/app/core/services/error-handler.service.spec.ts
  src/frontend/citizen-portal/src/app/core/services/form-utils.service.spec.ts
  src/frontend/citizen-portal/src/app/core/services/logger.service.spec.ts
  src/frontend/citizen-portal/src/app/core/services/logger.service.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-js-routing.module.ts
  src/frontend/citizen-portal/src/app/services/app-config.service.ts
  src/frontend/citizen-portal/src/app/services/auth.service.spec.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.spec.ts
  src/frontend/citizen-portal/src/app/shared/pipes/postal.pipe.spec.ts
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/environments/environment.prod.ts
  src/frontend/citizen-portal/src/environments/environment.ts
  src/frontend/citizen-portal/src/keycloak.json
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/Steps.java
Labels: Citizens Portal

#143 Fix dotnet unit tests to try to avoid random failures
  .github/workflows/pr-label.yml
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Disputes/DisputeService.cs
Labels: Traffic Courts API

#144 Fix issue where duplicate key errors would occur randomly
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketServiceTest.cs
Labels: Traffic Courts API

#145 'enableProdMode' without using environment file
  src/frontend/citizen-portal/src/app/app-routing.module.ts
  src/frontend/citizen-portal/src/main.ts
Labels: Citizens Portal

#146 Adjust source to remove build warnings
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Auth/OAuthClientTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Auth/OAuthHandlerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Configuration/DisputeServiceConfigurationTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Models/DisputeModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketLookup/TicketDisputeFromRsiServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Configuration/TicketServiceConfigurationTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Models/TicketModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Health/DisputeApiHealthCheckTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/StartUpTest.cs
  src/backend/TrafficCourtsApi/DisputeWorker/DisputeRequestedConsumer.cs
  src/backend/TrafficCourtsApi/DisputeWorker/DisputeUpdatedConsumer.cs
Labels: Traffic Courts API

#148 Reverse landing page image, create default link values for 'Visit site' links
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/components/landing/landing.component.ts
  src/frontend/citizen-portal/src/app/services/app-config.service.ts
  src/frontend/citizen-portal/src/app/shared/components/header/header.component.html
  src/frontend/citizen-portal/src/assets/landing-page-background.png
Labels: Citizens Portal

#147 create environment specific folders for deployment to openshift
  infrastructure/openshift/tickets-test.gov.bc.ca-route.yaml
  infrastructure/openshift/tickets.gov.bc.ca-route.yaml
Labels: DevOps

#150 Landing page updates
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/shared/components/footer/footer.component.html
  src/frontend/citizen-portal/src/app/shared/components/footer/footer.component.scss
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/assets/dispute-icon.png
  src/frontend/citizen-portal/src/assets/landing-page-background.png
  src/frontend/citizen-portal/src/assets/pay-icon.png
  src/frontend/citizen-portal/src/assets/understand-icon.png
  src/frontend/citizen-portal/src/scss/_palette.scss
  src/frontend/citizen-portal/src/scss/material/_material-variables.scss
  src/frontend/citizen-portal/src/scss/material/components/mat-expansion-panel.scss
Labels: Citizens Portal

#151 Landing page updates
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/assets/i18n/en.json
  src/frontend/citizen-portal/src/assets/landing-page-background-375x300.png
  src/frontend/citizen-portal/src/assets/landing-page-background-375x420.png
  src/frontend/citizen-portal/src/assets/landing-page-background-600x300.png
  src/frontend/citizen-portal/src/assets/pay-icon.svg
  src/frontend/citizen-portal/src/assets/resolution-icon.png
  src/frontend/citizen-portal/src/assets/resolution-icon.svg
  src/frontend/citizen-portal/src/assets/understand-icon.svg
  src/frontend/citizen-portal/src/index.html
  src/frontend/citizen-portal/src/scss/material/components/mat-expansion-panel.scss
Labels: Citizens Portal

#152 Landing page fixes
  src/frontend/citizen-portal/src/app/app.component.ts
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/assets/landing-page-background-375x300.png
  src/frontend/citizen-portal/src/assets/landing-page-background-400x500.png
  src/frontend/citizen-portal/src/assets/landing-page-background-768x420.png
  src/frontend/citizen-portal/src/assets/landing-page-background-992x420.png
  src/frontend/citizen-portal/src/assets/pay-icon.svg
  src/frontend/citizen-portal/src/assets/resolution-icon.png
  src/frontend/citizen-portal/src/assets/resolution-icon.svg
  src/frontend/citizen-portal/src/assets/understand-icon.png
  src/frontend/citizen-portal/src/assets/understand-icon.svg
  src/frontend/citizen-portal/src/scss/material/components/mat-expansion-panel.scss
Labels: Citizens Portal

#153 Update images from png to jpg and landing page text changes
  src/frontend/citizen-portal/src/app/components/dispute-all-stepper/dispute-all-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/components/stepper/stepper.component.html
  src/frontend/citizen-portal/src/app/shared/components/header/header.component.html
  src/frontend/citizen-portal/src/assets/gov_bc_logo.jpg
  src/frontend/citizen-portal/src/assets/gov_bc_logo.png
  src/frontend/citizen-portal/src/assets/gov_bc_logo_vert.jpg
  src/frontend/citizen-portal/src/assets/gov_bc_logo_vert.png
  src/frontend/citizen-portal/src/assets/landing-page-background-375x420.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-375x420.png
  src/frontend/citizen-portal/src/assets/landing-page-background-400x500.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-400x500.png
  src/frontend/citizen-portal/src/assets/landing-page-background-600x300.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-600x300.png
  src/frontend/citizen-portal/src/assets/landing-page-background-768x420.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-768x420.png
  src/frontend/citizen-portal/src/assets/landing-page-background-992x420.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-992x420.png
  src/frontend/citizen-portal/src/assets/landing-page-background.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background.png
  src/frontend/citizen-portal/src/assets/tco_ticket_types_small.jpg
  src/frontend/citizen-portal/src/assets/tco_ticket_types_small.png
  src/frontend/citizen-portal/src/index.html
Labels: Citizens Portal

#154 Update images
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/assets/landing-page-background-375x420.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-400x500.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-600x300.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-600x420.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-768x420.jpg
  src/frontend/citizen-portal/src/assets/landing-page-background-992x420.jpg
Labels: Citizens Portal

#155 Update a landing page image
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/assets/landing-page-background-414x420.jpg
Labels: Citizens Portal

#156 Add snowplow
  src/frontend/citizen-portal/angular.json
  src/frontend/citizen-portal/package-lock.json
  src/frontend/citizen-portal/src/index.html
  src/frontend/citizen-portal/src/snowplow.js
Labels: Citizens Portal

#157 Add config map for citizen-web, change image name
  .github/workflows/main-deploy.yml
  infrastructure/openshift/dev/citizen-web-configuration-configmap.yaml
  infrastructure/openshift/test/tickets-test.gov.bc.ca-route.yaml
  infrastructure/openshift/traffic-courts-online-app.yml
Labels: DevOps

#158 Add sysdig configuration for TCO
  infrastructure/openshift/sysdigteam.yaml
Labels: DevOps

#160 merge app config configmap changes
  infrastructure/openshift/README.md
  infrastructure/openshift/traffic-courts-online-app.yml
Labels: DevOps

#162 Add prod config map, change rollout strategy to rolling
  infrastructure/openshift/prod/citizen-web-configuration-configmap.yaml
  infrastructure/openshift/traffic-courts-online-app.yml
Labels: DevOps

#161 Adjust favicon to match bc gov
  src/frontend/citizen-portal/Dockerfile
  src/frontend/citizen-portal/src/favicon.ico
  src/frontend/citizen-portal/src/index.html
Labels: Citizens Portal

#164 Add OpenSSL CSR configuration file
  infrastructure/certificates/.gitignore
  infrastructure/certificates/tickets.gov.bc.ca.conf
Labels: DevOps

#166 Remove href bindings
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
Labels: Citizens Portal

#167 Create snowplow service and refresh links when landing page urls updated
  src/frontend/citizen-portal/src/app/app.component.spec.ts
  src/frontend/citizen-portal/src/app/app.component.ts
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.spec.ts
  src/frontend/citizen-portal/src/app/components/landing/landing.component.ts
  src/frontend/citizen-portal/src/app/snowplow.service.spec.ts
  src/frontend/citizen-portal/src/app/snowplow.service.ts
  src/frontend/citizen-portal/src/app/window-ref.spec.ts
  src/frontend/citizen-portal/src/app/window-ref.ts
  src/frontend/citizen-portal/src/snowplow.js
Labels: Citizens Portal
