Repository bcgov/jag-traffic-courts-online, pull requests merged in 2021-09, with the labels that each got.

#228 backend-get shell ticket image from front end and save it to somewhere.
  .github/workflows/imageUploadTesting.yml
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/CreateShellTicketCommand.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/CreateShellTicketCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/CreateShellTicketResponse.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/ShellTicketImageCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentCommand.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentResponse.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/ShellTicketImage.cs
  src/backend/TrafficCourtsApi/citizen-api/appsettings.json
Labels: Traffic Courts API

#230 Model updates and mobile updates
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.scss
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.scss
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.scss
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.scss
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.html
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.scss
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.scss
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.ts
  src/frontend/citizen-portal/src/app/core/validators/form-group.validators.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/app/shared/components/page-footer/page-footer.component.scss
  src/frontend/citizen-portal/src/app/shared/components/page/page.component.html
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.scss
  src/frontend/citizen-portal/src/app/shared/models/additional.model.ts
  src/frontend/citizen-portal/src/app/shared/models/offence.model.ts
  src/frontend/citizen-portal/src/app/shared/models/shellTicket.model.ts
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/assets/understand-icon-footer.svg
  src/frontend/citizen-portal/src/scss/bootstrap/_bootstrap-overrides.scss
  src/frontend/citizen-portal/src/scss/material/_material-overrides.scss
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#232 for frontend change
  .github/workflows/imageUploadTesting.yml
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/DBModel/Dispute.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Queries/TicketSearchQueryHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/TicketDispute.cs
  src/backend/TrafficCourtsApi/citizen-api/Startup.cs
Labels: Traffic Courts API

#233 NotificationContract data model
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Contract/NotificationContract.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Contract/TicketDispute.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Util/RandomGenerator.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Disputes/Commands/CreateDisputeCommandHandlerTest.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Commands/CreateDisputeCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/DBModel/Dispute.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Notifications/NotificationRequestedConsumer.cs
Labels: Traffic Courts API

#234 Dependency updates
  src/backend/TrafficCourtsApi/TrafficCourts.Common.Test/TrafficCourts.Common.Test.csproj
  src/backend/TrafficCourtsApi/TrafficCourts.Common/TrafficCourts.Common.csproj
  src/backend/TrafficCourtsApi/citizen-api-test/Features/ControllerTests.cs
  src/backend/TrafficCourtsApi/citizen-api-test/MemberData.cs
  src/backend/TrafficCourtsApi/citizen-api-test/citizen-api-test.csproj
  src/backend/TrafficCourtsApi/citizen-api/Features/Lookups/LookupController.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Generated/citizen-api.TicketSearchClient.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/citizen-api/Startup.cs
  src/backend/TrafficCourtsApi/citizen-api/citizen-api.csproj
  src/backend/TrafficCourtsApi/ticket-worker-test/ticket-worker-test.csproj
  src/backend/TrafficCourtsApi/ticket-worker/ticket-worker.csproj
Labels: Traffic Courts API

#238 Add missing amount to payment url
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
Labels: Citizens Portal

#236 wava
  docker-compose.yml
  src/frontend/citizen-portal/nginx.conf
Labels: Citizens Portal

#242 fix bug
  src/backend/TrafficCourtsApi/Dockerfile.citizen-api
  src/backend/TrafficCourtsApi/Dockerfile.ticket-worker
  src/ticket-search/Dockerfile
Labels: Traffic Courts API, Ticket Search

#241 Add email filter classes and tests
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/DefaultEmailFilterTest.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/EmailFilterTest.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/NotFilteredEmailFilterTest.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/TestData.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/Validation_IsValidEmailTest.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/DefaultEmailFilter.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/EmailFilter.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/IEmailFilter.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/NotFilteredEmailFilter.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/Validation.cs
Labels: Traffic Courts API

#237 Feature/email service
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/EmailSenderTest.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/Resources/bc-gov-logo.png
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/Resources/submissiontemplate.liquid
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Notifications/NotificationRequestedConsumerTest.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/Models/DisputeEmailTest.cs
  src/backend/TrafficCourtsApi/ticket-worker-test/ticket-worker-test.csproj
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/EmailSender.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/Resources/bc-gov-logo.png
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/Resources/submissiontemplate.liquid
  src/backend/TrafficCourtsApi/ticket-worker/Features/Notifications/NotificationRequestedConsumer.cs
  src/backend/TrafficCourtsApi/ticket-worker/Models/DisputeEmail.cs
  src/backend/TrafficCourtsApi/ticket-worker/Program.cs
  src/backend/TrafficCourtsApi/ticket-worker/appsettings.Development.json
  src/backend/TrafficCourtsApi/ticket-worker/ticket-worker.csproj
Labels: Traffic Courts API

#243 update # of witnesses form field workflow to add number input
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
  src/frontend/citizen-portal/src/assets/i18n/en.json
  src/frontend/citizen-portal/src/scss/app.scss
Labels: Citizens Portal

#246 adds button to resume resolution, print ticket, and fixed verbiage
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.html
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.scss
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#244 Use EmailFilter in Email Sender
  src/backend/TrafficCourtsApi/ticket-worker-test/Features/Emails/EmailSenderTest.cs
  src/backend/TrafficCourtsApi/ticket-worker/Features/Emails/EmailSender.cs
  src/backend/TrafficCourtsApi/ticket-worker/Models/DisputeEmail.cs
  src/backend/TrafficCourtsApi/ticket-worker/Program.cs
  src/backend/TrafficCourtsApi/ticket-worker/appsettings.Development.json
Labels: Traffic Courts API

#250 Add SMTP configuration in app settings
  src/backend/TrafficCourtsApi/ticket-worker/appsettings.Development.json
Labels: Traffic Courts API

#251 hide do nothing option if there is only one offence to action
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.ts
Labels: Citizens Portal

#245 splunk log and first dashboard
  .github/workflows/imageUploadTesting.yml
  gitops/components/apps/citizen-api/base/citizen-api-deployment-config.yaml
  gitops/components/apps/ticket-search/base/ticket-search-deployment-config.yaml
  gitops/components/apps/ticket-worker/base/ticket-worker-deployment-config.yaml
  gitops/components/secrets/splunk-config.yaml
  splunk-dash-board/operational-support.html
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Configuration/SplunkEventCollector.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/citizen-api/Properties/launchSettings.json
  src/backend/TrafficCourtsApi/ticket-worker/Program.cs
  src/backend/TrafficCourtsApi/ticket-worker/Properties/launchSettings.json
  src/backend/TrafficCourtsApi/ticket-worker/Worker.cs
  src/ticket-search/ticket-search/Controllers/TicketsController.cs
  src/ticket-search/ticket-search/Program.cs
Labels: Traffic Courts API, Ticket Search

#248 Refactor/update frontend build
  .codeclimate.yml
  src/frontend/README.md
  src/frontend/citizen-portal/Dockerfile
  src/frontend/citizen-portal/README.md
  src/frontend/citizen-portal/package-lock.json
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/src/app/api/README.md
  src/frontend/citizen-portal/yarn.lock
  yarn.lock
Labels: Citizens Portal

#252 updates styling of stepper titles to bold face when active
  src/frontend/citizen-portal/src/scss/app.scss
Labels: Citizens Portal

#253 updates dynamic validators logic on witnesses inputs
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
Labels: Citizens Portal

#255 Security/dependency updates
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/yarn.lock
Labels: Citizens Portal
