Repository bcgov/jag-traffic-courts-online, pull requests merged in 2021-02, with the labels that each got.

#28 add angular stepper to citizen portal
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-dashboard/dispute-dashboard.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/home/home.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/home/home.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-a/part-a.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-a/part-a.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-b/part-b.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-b/part-b.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-c/part-c.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-c/part-c.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-d/part-d.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/part-d/part-d.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/start/start.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/start/start.component.scss
  src/frontend/citizen-portal/src/app/modules/dispute/components/start/start.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/start/start.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.routes.ts
  src/frontend/citizen-portal/src/app/shared/components/page-footer/page-footer.component.ts
Labels: Citizens Portal

#29 SurveyJS updates
  src/frontend/citizen-portal/package-lock.json
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/core/services/viewport.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth.routes.ts
  src/frontend/citizen-portal/src/app/modules/auth/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/auth/find-ticket/find-ticket.component.scss
  src/frontend/citizen-portal/src/app/modules/auth/find-ticket/find-ticket.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.html
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/modules/dispute/components/start/start.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.html
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/services/survey-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/services/survey-resource.service.ts
  src/frontend/citizen-portal/src/assets/ticket1.jpg
  src/frontend/citizen-portal/src/scss/vendors/_survey-js.scss
  src/frontend/citizen-portal/src/tests/locations.ts
  src/frontend/citizen-portal/src/tests/survey.ts
Labels: Citizens Portal

#31 Update mock services and error handling
  src/frontend/citizen-portal/src/app/core/core.module.ts
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/core/interceptors/error-handler.interceptor.spec.ts
  src/frontend/citizen-portal/src/app/core/interceptors/error-handler.interceptor.ts
  src/frontend/citizen-portal/src/app/core/models/api-http-error-response.model.ts
  src/frontend/citizen-portal/src/app/core/models/api-http-response.model.ts
  src/frontend/citizen-portal/src/app/core/resources/abstract-resource.ts
  src/frontend/citizen-portal/src/app/core/resources/api-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/core/resources/api-resource.service.ts
  src/frontend/citizen-portal/src/app/core/services/error-handler.service.spec.ts
  src/frontend/citizen-portal/src/app/core/services/error-handler.service.ts
  src/frontend/citizen-portal/src/app/modules/dispute/classes/BaseDisputeFormPage.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/home/home.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/services/survey-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/services/survey-resource.service.ts
  src/frontend/citizen-portal/src/tests/locations.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
  src/frontend/citizen-portal/yarn.lock
Labels: Citizens Portal

#27 Tcvp 25 configure codeclimate
  .github/workflows/code-climate-coverage-aggregation.yml
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/src/app/modules/dispute/classes/BaseDisputePage.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.ts
  src/frontend/citizen-portal/tslint.json
Labels: Citizens Portal

#32 Mock code table support
  src/frontend/citizen-portal/angular.json
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/config/config-code.pipe.spec.ts
  src/frontend/citizen-portal/src/app/config/config-code.pipe.ts
  src/frontend/citizen-portal/src/app/config/config.model.ts
  src/frontend/citizen-portal/src/app/config/config.module.ts
  src/frontend/citizen-portal/src/app/config/config.service.spec.ts
  src/frontend/citizen-portal/src/app/config/config.service.ts
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/core/keycloak/keycloak.module.ts
  src/frontend/citizen-portal/src/app/core/services/viewport.service.spec.ts
  src/frontend/citizen-portal/src/app/shared/shared.module.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-config.service.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-config.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-keycloak.service.ts
  src/frontend/citizen-portal/tsconfig.json
Labels: Citizens Portal

#33 Tcvp 58 create a developer docker compose
  .gitignore
  docker-compose.yml
  infrastructure/keycloak/Dockerfile
  infrastructure/keycloak/createuser.sh
  infrastructure/keycloak/realm-export.json
  src/frontend/README.md
  src/frontend/citizen-portal/.env.template
  src/frontend/citizen-portal/Dockerfile
  src/frontend/citizen-portal/angular.json
  src/frontend/citizen-portal/nginx.conf
  src/frontend/citizen-portal/package-lock.json
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/setenv.ts
  src/frontend/citizen-portal/src/app/shared/components/alert/alert.component.spec.ts
  src/frontend/citizen-portal/src/app/shared/components/page-footer/page-footer.component.spec.ts
  src/frontend/citizen-portal/src/environments/environment.prod.ts
  src/frontend/citizen-portal/src/environments/environment.ts
  src/frontend/citizen-portal/src/index.html
  yarn.lock
Labels: Citizens Portal, DevOps

#34 TCVP-85: Configure Code Climate Coverage for Backend APIs
  .github/workflows/code-climate-coverage-aggregation.yml
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/DisputeApi.Web.Test.csproj
Labels: Traffic Courts API

#35 Added in memory store to create and retrieve ticket info
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/Configuration/TicketServiceConfigurationTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/Models/TicketModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Models/TicketModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Services/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/StartUpTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/DisputeApi.Web.csproj
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/Configuration/TicketServiceConfigurationExtension.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/DBContexts/TicketContext.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/Models/Ticket.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/TicketsController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/TicketsService.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/Models/Ticket.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/Services/TicketService.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketsController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Startup.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/appsettings.json
  src/backend/TrafficCourtsApi/Dockerfile
Labels: Traffic Courts API

#37 Update Landing page and support 3 counts in SurveyJS
  src/frontend/citizen-portal/src/app/app.component.ts
  src/frontend/citizen-portal/src/app/config/config.model.ts
  src/frontend/citizen-portal/src/app/config/config.service.ts
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.html
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard/dashboard.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.html
  src/frontend/citizen-portal/src/app/modules/survey-js/home/home.component.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/services/survey-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/shared/models/ticket.model.ts
  src/frontend/citizen-portal/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.html
  src/frontend/citizen-portal/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.spec.ts
  src/frontend/citizen-portal/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.ts
  src/frontend/citizen-portal/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.spec.ts
  src/frontend/citizen-portal/src/assets/step_1.mobile.svg
  src/frontend/citizen-portal/src/assets/step_1.svg
  src/frontend/citizen-portal/src/assets/step_1_image.svg
  src/frontend/citizen-portal/src/assets/step_2.mobile.svg
  src/frontend/citizen-portal/src/assets/step_2.svg
  src/frontend/citizen-portal/src/assets/step_2_image.svg
  src/frontend/citizen-portal/src/assets/step_3.mobile.svg
  src/frontend/citizen-portal/src/assets/step_3.svg
  src/frontend/citizen-portal/src/assets/step_3_image.svg
  src/frontend/citizen-portal/src/index.html
  src/frontend/citizen-portal/src/scss/material/_material-palette.scss
  src/frontend/citizen-portal/src/scss/material/_material-theme.scss
  src/frontend/citizen-portal/src/scss/vendors/_survey-js.scss
  src/frontend/citizen-portal/src/tests/mocks/mock-config.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
  src/frontend/citizen-portal/src/tests/survey.ts
Labels: Citizens Portal

#38 Environmentalizing build vars
  .env.template
  docker-compose.yml
  src/frontend/citizen-portal/Dockerfile
Labels: Citizens Portal, DevOps

#39 Tcvp 90
  .env.template
  docker-compose.yml
  src/frontend/citizen-portal/.env.template
  src/frontend/citizen-portal/src/environments/environment.prod.ts
  src/frontend/citizen-portal/src/environments/environment.ts
Labels: Citizens Portal

#36 Updated Ticket model
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/Models/TicketModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketService/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/DBContexts/TicketContext.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/Models/Ticket.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/TicketsController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketService/TicketsService.cs
Labels: Traffic Courts API
