Repository bcgov/jag-traffic-courts-online, pull requests merged in 2021-05, with the labels that each got.

#113 Tcvp 337
  infrastructure/README.md
  infrastructure/openshift/traffic-courts-online-app.yml
Labels: DevOps

#114 fix bool issue
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Disputes/Commands/CreateOffenceDisputeCommandHandler.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Disputes/DBModel/Dispute.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Disputes/DisputesController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Disputes/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Models/TicketDispute.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Contract/DisputeContract.cs
Labels: Traffic Courts API

#120 Change registry.redhat.io to registry.access.redhat.com
  .github/workflows/prod-cucumber-tests.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-cucumber-tests.yml
  .github/workflows/test-deploy.yml
  README.md
  src/backend/TrafficCourtsApi/Dockerfile
  src/frontend/citizen-portal/Dockerfile
  tools/build-tools.yml
  tools/github-actor/Dockerfile
Labels: Citizens Portal, Traffic Courts API

#125 Change NUnit to xUnit, it is just better
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Auth/OAuthClientTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Auth/OAuthHandlerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Auth/TokenServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/DisputeApi.Web.Test.csproj
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/ApiResponseTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Commands/CreateDisputeCommandHandlerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Commands/CreateOffenceDisputeCommandHandlerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Configuration/DisputeServiceConfigurationTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Models/DisputeModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Queries/GetAllDisputesQueryHandlerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/Queries/GetDisputeQueryHandlerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketLookup/TicketDisputeFromRsiServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/TicketLookup/TicketLookupHandleTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Configuration/TicketServiceConfigurationTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Models/TicketModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Health/DisputeApiHealthCheckTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/StartUpTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Utils/AllowCirculationAutoDataAttribute.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Utils/AutoMockAutoDataAttribute.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common.Test/Configuration/SerilogLoggingTest.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common.Test/Configuration/SplunkEventCollectorTest.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common.Test/TrafficCourts.Common.Test.csproj
Labels: Traffic Courts API

#127 Keycloak docker compose
  .env.template
  .github/workflows/main-deploy.yml
  .github/workflows/test-deploy.yml
  docker-compose.yml
  infrastructure/keycloak/Dockerfile
  src/frontend/citizen-portal/Dockerfile
Labels: Citizens Portal, DevOps

#129 Added dependencies to ensure startup order, add back keycloak dockerfile
  docker-compose.yml
  infrastructure/keycloak/Dockerfile
Labels: DevOps
