Repository bcgov/jag-traffic-courts-online, pull requests merged in 2021-03, with the labels that each got.

#42 Making an attempt at github runner in openshift
  .env.template
  docker-compose.yml
  infrastructure/openshift/allow-from-openshift-tools.yml
  tools/docker-compose.yml
  tools/github-runner/Dockerfile
  tools/github-runner/entrypoint.sh
  tools/github-runner/github-runner-buildconfig.yaml
  tools/github-runner/github-runner-config-map.yml
  tools/github-runner/github-runner-deploy.yml
  tools/github-runner/github-runner-deploymentconfig.yaml
  tools/github-runner/github-runner-imagestream.yaml
  tools/github-runner/github-runner-service.yaml
  tools/github-runner/github-runner.svc.sh
Labels: DevOps

#44 Trying out actions with openshift
  .github/workflows/openshift-push-dotnet.yml
  .github/workflows/push-dispute-api.yml
  infrastructure/openshift/allow-egress-from-tools.yml
  infrastructure/openshift/pipeline-account-template.yml
  tools/docker-compose.yml
  tools/github-runner/Dockerfile
  tools/github-runner/entrypoint.sh
  tools/github-runner/github-runner-buildconfig.yaml
  tools/github-runner/github-runner-config-map.yml
  tools/github-runner/github-runner-deploy.yml
  tools/github-runner/github-runner-deploymentconfig.yaml
  tools/github-runner/github-runner-imagestream.yaml
  tools/github-runner/github-runner-service.yaml
  tools/github-runner/github-runner.svc.sh
Labels: DevOps

#45 Fixing Pipeline
  .github/workflows/openshift-push-dotnet.yml
  .github/workflows/push-dispute-api.yml
Labels: DevOps

#47 Naming containers
  docker-compose.yml
Labels: DevOps

#48 Getting Dispute API to build and push to OpenShift
  .github/workflows/push-dispute-api.yml
Labels: DevOps

#49 Changing to RHEL .NET containers
  .github/workflows/cucumber-tests.yml
  .github/workflows/push-dispute-api.yml
  docker-compose.yml
  src/backend/TrafficCourtsApi/Dockerfile
  tests/src/test/java/stepDefinitions/backendstepdefinitions/Steps.java
Labels: Breaking Change, DevOps, Traffic Courts API

#52 Nuget package update
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/DisputeApi.Web.Test.csproj
  src/backend/TrafficCourtsApi/DisputeApi.Web/DisputeApi.Web.csproj
  src/backend/TrafficCourtsApi/TrafficCourts.Common.Test/TrafficCourts.Common.Test.csproj
Labels: Traffic Courts API

#50 Tcvp 155
  docker-compose.yml
  infrastructure/README.md
  infrastructure/openshift/dispute-api-deploymentconfig.yaml
  infrastructure/openshift/dispute-api-imagestream.yaml
  infrastructure/openshift/dispute-api-service.yaml
  src/frontend/citizen-portal/Dockerfile
Labels: Citizens Portal, DevOps

#46 Added keycloak jwt authentication
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/StartUpTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/DisputeApi.Web.csproj
  src/backend/TrafficCourtsApi/DisputeApi.Web/Startup.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/appsettings.json
Labels: Traffic Courts API

#60 Need to remove broken workflow
  tools/build-tools.yml
Labels: DevOps

#61 Github actions don't like linefeeds
  .github/workflows/push-frontend.yml
  infrastructure/openshift/source/splunk-deploymentconfig.yaml
  infrastructure/openshift/source/splunk-imagestream.yaml
  infrastructure/openshift/source/splunk-service.yaml
Labels: DevOps

#62 Github actions don't like linefeeds
  .github/workflows/push-frontend.yml
Labels: DevOps

#63 Github actions don't like linefeeds
  .github/workflows/main-dispute-api.yml
  .github/workflows/main-frontend.yml
  .github/workflows/pr-dotnetbuild.yml
  .github/workflows/pr-frontend.yml
Labels: DevOps

#65 Tools
  .github/workflows/main-code-climate-coverage-aggregation.yml
  .github/workflows/main-cucumber-tests.yml
  .github/workflows/main-dispute-api.yml
  .github/workflows/main-frontend.yml
  .github/workflows/pr-dotnetbuild.yml
  .github/workflows/pr-frontend.yml
  .github/workflows/pr-label.yml
  .github/workflows/tools-build-tools.yml
  infrastructure/openshift/citizen-portal-deploymentconfig.yaml
  infrastructure/openshift/citizen-portal-service.yaml
  tools/build-tools.yml
  tools/docker-compose.yml
  tools/network-tester/Dockerfile
Labels: DevOps

#55 https://justice.gov.bc.ca/jira/browse/TCVP-76
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.spec.ts
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth/auth.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/models/user.model.ts
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.html
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.scss
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard/dashboard.component.html
  src/frontend/citizen-portal/src/app/modules/dashboard/dashboard.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-js-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-page/survey-page.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-page/survey-page.component.ts
  src/frontend/citizen-portal/src/environments/environment.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-auth.service.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-keycloak.service.ts
Labels: Citizens Portal

#67 Fix some keycloak issues - missing guard on dispute routes, directly navigating to specific urls when not logged in, and mocking the initializer function
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.ts
  src/frontend/citizen-portal/src/app/core/keycloak/keycloak.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute-routing.module.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-keycloak.service.ts
Labels: Citizens Portal

#68 Build demo instead of frontend
  .github/workflows/main-frontend.yml
  .github/workflows/pr-frontend.yml
Labels: DevOps

#70 Update SourceMap settings
  src/frontend/citizen-portal/angular.json
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.ts
  src/frontend/citizen-portal/src/environments/environment.ts
Labels: Citizens Portal

#71 Change feature TicketService to Tickets
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Configuration/TicketServiceConfigurationTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/Models/TicketModelTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/StartUpTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/Configuration/TicketServiceConfigurationExtension.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/TicketsService.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Startup.cs
Labels: Traffic Courts API

#72 Remove keycloak for now
  docker-compose.yml
Labels: DevOps

#75 Add initial prototype of searching RSI for violation tickets.
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Disputes/DisputeControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web.Test/Features/Tickets/TicketsControllerTest.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/DisputeApi.Web.csproj
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Disputes/DisputesController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketLookup/TicketLookup.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketLookup/invoice-EZ020004601.json
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketLookup/invoice-EZ020004602.json
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketLookup/invoice-EZ020004603.json
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/TicketLookup/ticket-EZ02000460.json
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Features/Tickets/TicketsService.cs
  src/backend/TrafficCourtsApi/DisputeApi.Web/Properties/launchSettings.json
  src/backend/TrafficCourtsApi/DisputeApi.Web/Startup.cs
Labels: Traffic Courts API

#74 Fixing pipeline
  .github/workflows/main-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/test-deploy.yml
Labels: DevOps

#77 TCVP-169 - Call the RSI endpoint
  src/frontend/citizen-portal/proxy.conf.json
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/core/resources/abstract-resource.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/display-ticket/display-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/display-ticket/display-ticket.component.scss
  src/frontend/citizen-portal/src/app/modules/dispute/components/display-ticket/display-ticket.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/display-ticket/display-ticket.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-list/dispute-list.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-list/dispute-list.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.routes.ts
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/environments/environment.ts
Labels: Citizens Portal

#78 Use lower case urls for the api
  src/backend/TrafficCourtsApi/DisputeApi.Web/Startup.cs
Labels: Traffic Courts API

#79 Rename tickets api endpoint
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-list/dispute-list.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.ts
Labels: Citizens Portal

#80 Added API url in niginx
  infrastructure/openshift/citizen-portal-demo-deploymentconfig.yaml
  src/frontend/citizen-portal/nginx.conf
Labels: Citizens Portal, DevOps

#81 Tcvp 154
  src/frontend/citizen-portal/nginx.conf
Labels: Citizens Portal

#83 Added swagger, moved frontend port
  docker-compose.yml
  src/frontend/citizen-portal/nginx.conf
Labels: Citizens Portal, DevOps

#84 Demo Updates
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/modules/auth/landing/landing.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-page/dispute-page.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-submit/dispute-submit.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/step-overview/step-overview.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/step-review-ticket/step-review-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/step-review-ticket/step-review-ticket.component.scss
  src/frontend/citizen-portal/src/app/modules/dispute/components/step-review-ticket/step-review-ticket.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/stepper/stepper.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/stepper/stepper.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/stepper/stepper.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.module.ts
  src/frontend/citizen-portal/src/app/shared/models/dispute.model.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#85 TCVP-185 - Add Ticket/Dispute Summary Page
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-list/dispute-list.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-list/dispute-list.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-submit/dispute-submit.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-summary/dispute-summary.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-summary/dispute-summary.component.scss
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-summary/dispute-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/dispute-summary/dispute-summary.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/dispute.routes.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/models/dispute.model.ts
  src/frontend/citizen-portal/src/app/shared/models/ticket.model.ts
  src/frontend/citizen-portal/src/scss/vendors/_survey-js.scss
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#86 Fix bug setting route queryparams
  src/frontend/citizen-portal/src/app/modules/dispute/components/find-ticket/find-ticket.component.ts
Labels: Citizens Portal
