Repository bcgov/jag-traffic-courts-online, pull requests merged in 2021-08, with the labels that each got.

#192 Frontend wireframe updates Part-1
  src/frontend/citizen-portal/README.md
  src/frontend/citizen-portal/src/app/app-routing.module.ts
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/app.routes.ts
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.spec.ts
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.scss
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.html
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/step-count/step-count.component.ts
  src/frontend/citizen-portal/src/app/components/step-disputant/step-disputant.component.html
  src/frontend/citizen-portal/src/app/components/step-disputant/step-disputant.component.ts
  src/frontend/citizen-portal/src/app/components/step-overview/step-overview.component.html
  src/frontend/citizen-portal/src/app/components/step-single-count/step-single-count.component.html
  src/frontend/citizen-portal/src/app/components/step-single-count/step-single-count.component.scss
  src/frontend/citizen-portal/src/app/components/step-single-count/step-single-count.component.spec.ts
  src/frontend/citizen-portal/src/app/components/step-single-count/step-single-count.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/stepper.component.html
  src/frontend/citizen-portal/src/app/components/stepper/stepper.component.scss
  src/frontend/citizen-portal/src/app/components/stepper/stepper.component.spec.ts
  src/frontend/citizen-portal/src/app/components/stepper/stepper.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.html
  src/frontend/citizen-portal/src/app/components/ticket-page/ticket-page.component.scss
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
  src/frontend/citizen-portal/src/app/shared/components/footer/footer.component.scss
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-payment-dialog/ticket-payment-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-payment-dialog/ticket-payment-dialog.component.scss
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-payment-dialog/ticket-payment-dialog.component.spec.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-payment-dialog/ticket-payment-dialog.component.ts
  src/frontend/citizen-portal/src/app/shared/models/disputant.model.ts
  src/frontend/citizen-portal/src/app/shared/models/offenceDisputeDetail.model.ts
  src/frontend/citizen-portal/src/app/shared/shared.module.ts
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/assets/i18n/en.json
  src/frontend/citizen-portal/src/scss/app.scss
  src/frontend/citizen-portal/src/scss/bootstrap/_bootstrap-alerts.scss
  src/frontend/citizen-portal/src/scss/bootstrap/_bootstrap.scss
  src/frontend/citizen-portal/src/scss/material/_material.scss
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#191 make docker rabbitmq working
  docker-compose.yml
  src/backend/TrafficCourtsApi/Dockerfile
  src/frontend/citizen-portal/src/assets/app.config.json
  src/ticket-search/Dockerfile
Labels: Traffic Courts API, Citizens Portal, Ticket Search

#200 TCVP-679: Automation Test Suite for Backend APIs
  src/frontend/citizen-portal/e2e/README.md
  src/frontend/citizen-portal/e2e/cypress.json
  src/frontend/citizen-portal/e2e/cypress/integration/api.test.js
  src/frontend/citizen-portal/e2e/cypress/integration/landingPage.test.js
Labels: Citizens Portal

#202 Add additional frontend tests
  src/frontend/citizen-portal/e2e/cypress/integration/landingPage.test.js
  src/frontend/citizen-portal/e2e/cypress/support/index.js
Labels: Citizens Portal

#207 Backend integration and bug fixes
  src/frontend/citizen-portal/src/app/components/classes/abstract-form-state-service.class.ts
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-overview/step-overview.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-success/ticket-payment-success.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-success/ticket-payment-success.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/app/shared/components/alert/alert.component.html
  src/frontend/citizen-portal/src/app/shared/components/footer/footer.component.html
  src/frontend/citizen-portal/src/app/shared/components/header/header.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-example-dialog/ticket-example-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-payment-dialog/ticket-payment-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/models/offence.model.ts
  src/frontend/citizen-portal/src/app/shared/models/ticketDispute.model.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#206 Feature/flatten offence
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Contract/DisputeContract.cs
  src/backend/TrafficCourtsApi/TrafficCourts.Common/Contract/OffenceDisputeDetailContract.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Disputes/DisputeControllerTest.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Tickets/Mapping/MappingProfileTest.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Commands/CreateOffenceDisputeCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/DBModel/OffenceDisputeDetail.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/DisputesController.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Mapping/Resolvers.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Mapping/Resolvers.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Queries/TicketSearchQueryHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsService.cs
  src/backend/TrafficCourtsApi/citizen-api/Keys.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/Offence.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/OffenceDisputeDetail.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/TicketDispute.cs
  src/backend/TrafficCourtsApi/citizen-api/Startup.cs
Labels: Traffic Courts API

#208 Frontend payment updates
  src/frontend/citizen-portal/src/app/app-routing.module.ts
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/app.routes.ts
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.scss
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.ts
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.scss
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.ts
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.html
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-page/ticket-page.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.spec.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment-success/ticket-payment-success.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment-success/ticket-payment-success.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.ts
  src/frontend/citizen-portal/src/app/config/config.service.ts
  src/frontend/citizen-portal/src/app/core/interceptors/backend-http.interceptor.ts
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.ts
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/scss/bootstrap/_bootstrap-overrides.scss
  src/frontend/citizen-portal/src/tests/mocks/mock-config.ts
Labels: Citizens Portal

#209 Add amount to GET 'tickets/pay'
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.ts
Labels: Citizens Portal

#210 rename payment parameters
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.ts
Labels: Citizens Portal

#212 Integrate azure form recognizer
  src/frontend/citizen-portal/package-lock.json
  src/frontend/citizen-portal/package.json
  src/frontend/citizen-portal/src/app/components/count-item-dispute-summary/count-item-dispute-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.spec.ts
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.html
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.scss
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.scss
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-overview/step-overview.component.html
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.html
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.spec.ts
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.ts
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/app/services/dispute.service.ts
  src/frontend/citizen-portal/src/app/shared/models/offence.model.ts
  src/frontend/citizen-portal/src/app/shared/models/shellTicket.model.ts
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#214 Front-end - fix deprecation issues
  src/frontend/citizen-portal/proxy.conf.json
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.ts
  src/frontend/citizen-portal/src/app/core/core.module.ts
  src/frontend/citizen-portal/src/app/core/interceptors/error-handler.interceptor.ts
  src/frontend/citizen-portal/src/app/core/resources/abstract-resource.ts
  src/frontend/citizen-portal/src/app/services/app-config.service.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
Labels: Citizens Portal

#215 Wireframe updates - mainly OCR
  src/frontend/citizen-portal/src/app/app-routing.module.ts
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/app.routes.ts
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.html
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.html
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.ts
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.html
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.scss
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.spec.ts
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-disputant/step-disputant.component.html
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.html
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.spec.ts
  src/frontend/citizen-portal/src/app/components/ticket-image/ticket-image.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-page/ticket-page.component.html
  src/frontend/citizen-portal/src/app/components/ticket-page/ticket-page.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.spec.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
  src/frontend/citizen-portal/src/app/services/dispute.service.ts
  src/frontend/citizen-portal/src/app/shared/components/page/page.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-example-dialog/ticket-example-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/models/disputant.model.ts
  src/frontend/citizen-portal/src/app/shared/models/shellTicket.model.ts
  src/frontend/citizen-portal/src/app/shared/models/shellTicketData.model.ts
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/citizen-portal/src/tests/mocks/mock-dispute.service.ts
Labels: Citizens Portal

#217 minor bug fixes
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-submit-success/dispute-submit-success.component.html
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/ticket-payment-complete/ticket-payment-complete.component.html
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.html
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
  src/frontend/citizen-portal/src/app/shared/components/dispute-footer/dispute-footer.component.ts
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.html
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.scss
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.spec.ts
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.ts
  src/frontend/citizen-portal/src/app/shared/components/resolution-header/resolution-header.component.html
  src/frontend/citizen-portal/src/app/shared/components/resolution-header/resolution-header.component.scss
  src/frontend/citizen-portal/src/app/shared/components/resolution-header/resolution-header.component.spec.ts
  src/frontend/citizen-portal/src/app/shared/components/resolution-header/resolution-header.component.ts
  src/frontend/citizen-portal/src/app/shared/shared.module.ts
Labels: Citizens Portal

#213 Spike/backend payment
  .github/workflows/backend-paybc-deploy.yml
  docker-compose.yml
  gitops/components/apps/citizen-api/base/citizen-api-deployment-config.yaml
  src/README.md
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Tickets/Queries/TicketSearchQueryHandlerTest.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Tickets/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Disputes/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentCommand.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentConfirmCommand.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentConfirmCommandHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentConfirmResponse .cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Commands/TicketPaymentResponse.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/DBModel/Payment.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/DBModel/Ticket.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Mapping/MappingProfile.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Queries/TicketSearchQueryHandler.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsController.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/TicketsService.cs
  src/backend/TrafficCourtsApi/citizen-api/Infrastructure/ViolationContext.cs
  src/backend/TrafficCourtsApi/citizen-api/Keys.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/RedirectPay.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/ShellTicket.cs
  src/backend/TrafficCourtsApi/citizen-api/Models/TicketDispute.cs
  src/backend/TrafficCourtsApi/citizen-api/Properties/launchSettings.json
  src/backend/TrafficCourtsApi/citizen-api/README.md
  src/backend/TrafficCourtsApi/citizen-api/Startup.cs
Labels: Traffic Courts API

#218 Fix the min birthdate and 'within 30 days' display
  src/frontend/citizen-portal/src/app/components/shell-ticket/shell-ticket.component.ts
  src/frontend/citizen-portal/src/app/services/dispute-resource.service.ts
Labels: Citizens Portal

#211 Feature/lookup api
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Lookups/LookupControllerTest.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Lookups/LookupsServiceTest.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Tickets/Mapping/MappingProfileTest.cs
  src/backend/TrafficCourtsApi/citizen-api-test/Features/Tickets/TicketServiceTest.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Lookups/LookupController.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Lookups/LookupsService.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Lookups/TempData/LookupData.json
  src/backend/TrafficCourtsApi/citizen-api/Features/Lookups/TempData/Lookups.cs
  src/backend/TrafficCourtsApi/citizen-api/Features/Tickets/Mapping/Resolvers.cs
Labels: Traffic Courts API

#229 Add some front end validation and mobile updates
  src/frontend/citizen-portal/src/app/app.module.ts
  src/frontend/citizen-portal/src/app/components/count-item-summary/count-item-summary.component.scss
  src/frontend/citizen-portal/src/app/components/count-summary/count-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.html
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.spec.ts
  src/frontend/citizen-portal/src/app/components/dispute-page/dispute-page.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-summary/dispute-summary.component.ts
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-additional/step-additional.component.ts
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.html
  src/frontend/citizen-portal/src/app/components/stepper/step-count/step-count.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-page/ticket-page.component.html
  src/frontend/citizen-portal/src/app/components/ticket-page/ticket-page.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-payment/ticket-payment.component.html
  src/frontend/citizen-portal/src/app/core/validators/form-control.validators.ts
  src/frontend/citizen-portal/src/app/core/validators/form-group.validators.ts
  src/frontend/citizen-portal/src/app/services/app-config.service.ts
  src/frontend/citizen-portal/src/app/services/dispute-form-state.service.ts
  src/frontend/citizen-portal/src/app/shared/components/page-footer/page-footer.component.scss
  src/frontend/citizen-portal/src/app/shared/components/page-header/page-header.component.html
  src/frontend/citizen-portal/src/app/shared/components/page-header/page-header.component.scss
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.html
  src/frontend/citizen-portal/src/app/shared/components/resolution-footer/resolution-footer.component.scss
  src/frontend/citizen-portal/src/app/shared/components/resolution-header/resolution-header.component.html
  src/frontend/citizen-portal/src/app/shared/components/tco-page-header/tco-page-header.component.html
  src/frontend/citizen-portal/src/app/shared/components/tco-page-header/tco-page-header.component.scss
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-example-dialog/ticket-example-dialog.component.scss
  src/frontend/citizen-portal/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.scss
  src/frontend/citizen-portal/src/assets/understand-icon-footer.svg
  src/frontend/citizen-portal/src/scss/material/_material-overrides.scss
Labels: Citizens Portal
