Repository bcgov/jag-traffic-courts-online, pull requests merged in 2022-12, with the labels that each got.

#895 TCVP-1963 Added endpoints for DisputantUpdateRequest
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputantUpdateRequest.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/DisputantUpdateRequestRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceH2Test.java
Labels: oracle-data-api

#921 TCVP-1983 add disputant update requests status change
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputantUpdateRequestStatus.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceH2Test.java
Labels: oracle-data-api

#918 TCVP-2007 Added PUT endpoint to process a disputant's contact info
  src/backend/TrafficCourts/Citizen.Service/Controllers/DisputesController.cs
  src/backend/TrafficCourts/Citizen.Service/Models/Dispute/DisputantContactInformation.cs
  src/backend/TrafficCourts/Citizen.Service/Models/Dispute/DisputeCount.cs
  src/backend/TrafficCourts/Citizen.Service/Models/Dispute/NoticeOfDispute.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/DisputantUpdateRequest.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SearchDispute.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/DisputantUpdateRequestAcceptedConsumerTest.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/DisputantUpdateRequestRejectedConsumerTest.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/SearchDisputeConsumerTest.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputantUpdateRequestAcceptedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputantUpdateRequestRejectedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/SearchDisputeConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IOracleDataApiService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/error/ControllerAdvisor.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
Labels: citizen-api

#920 TCVP-1993 - Added noticeOfDisputeGuid and hearingType to DisputeResult
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputantUpdateRequestStatus.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeResult.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/DisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/DisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/main/resources/data.sql
Labels: oracle-data-api

#937 TCVP-2009 Added endpoint to fetch disputantUpdates by status
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/EmailVerificationReceivedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IOracleDataApiService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/DisputantUpdateRequestRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceH2Test.java
Labels: oracle-data-api, workflow-service

#936 TCVP-2012 updated email logic
  src/backend/TrafficCourts/Common/Features/Mail/Model/MailTemplateCollection.cs
  src/backend/TrafficCourts/Common/Features/Mail/Templates/DisputantUpdateRequestAcceptedTemplate.cs
  src/backend/TrafficCourts/Common/Features/Mail/Templates/DisputantUpdateRequestRejectedTemplate.cs
  src/backend/TrafficCourts/Common/Features/Mail/Templates/EmailTemplateExtensions.cs
  src/backend/TrafficCourts/Common/Features/Mail/Templates/IDisputantUpdateRequestAcceptedTemplate.cs
  src/backend/TrafficCourts/Common/Features/Mail/Templates/IDisputantUpdateRequestRejectedTemplate.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/DisputantUpdateRequestAcceptedConsumerTest.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/DisputantUpdateRequestConsumerTest.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/DisputantUpdateRequestRejectedConsumerTest.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputantUpdateRequestAcceptedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputantUpdateRequestConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputantUpdateRequestRejectedConsumer.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/Dispute.java
Labels: workflow-service
