Repository bcgov/jag-traffic-courts-online, pull requests merged in 2023-10, with the labels that each got.

#1310 TCVP-2516 Update JJDisputedCount model and add mapping for latest plea update
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputedCount.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
Labels: oracle-data-api

#1335 Fixed NPE in Staff Portal when loading VT2 images
  src/frontend/staff-portal/src/app/services/violation-ticket.service.ts
Labels: staff-portal

#1337 TCVP-2461 Enable NoApp conditionally on AppCd value.
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: staff-portal

#1339 TCVP-2423 Skipped counts shouldn't show dispute reasons
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/count-item-dispute-summary/count-item-dispute-summary.component.html
Labels: citizen-portal

#1338 TCVP-2441 Added missing REJECTED status to timeline/status widget
  src/frontend/citizen-portal/src/app/services/dispute.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/dispute-status-dialog/dispute-status-dialog.component.ts
Labels: citizen-portal

#1340 TCVP-2550 Removed filingDate from staff workbench
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
  src/frontend/staff-portal/src/app/services/dispute.service.ts
Labels: staff-portal

#1341 TCVP-2545 Map and return all type of Justin court appearance data
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputeCourtAppearanceRoP.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeServiceTest.java
Labels: oracle-data-api

#1343 TCVP-1847 Fix DCF File History showing wrong time
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/AuditLogEntryType.java
  src/backend/oracle-data-api/src/main/resources/occm-openapi-spec.yaml
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
Labels: oracle-data-api, ords

#1333 Fixed ports with docker-compose
  docker-compose.yml
  src/frontend/staff-portal/package.json
Labels: dev-ops
