Repository bcgov/jag-traffic-courts-online, pull requests merged in 2023-02, with the labels that each got.

#995 TCVP-2131 add mapping for court appearances
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputeCourtAppearanceRoP.java
  src/backend/oracle-data-api/src/main/resources/data.sql
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
Labels: oracle-data-api

#1013 TCVP-2120 implemented JJDispute update mapping
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/BaseMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/DisputeUpdateRequestMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/JJDisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/BaseTestSuite.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsOccamTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsTcoTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeServiceTest.java
Labels: oracle-data-api

#1016 Updated mapping per changed ORDS serialization
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
Labels: ords

#1017 TCVP-2144 helm chart for virus scan service
  .gitops/charts/traffic-court-dev-values.yaml
  .gitops/charts/traffic-court-test-values.yaml
  .gitops/charts/virus-scan/.helmignore
  .gitops/charts/virus-scan/Chart.yaml
  .gitops/charts/virus-scan/README.md
  .gitops/charts/virus-scan/deploy.sh
  .gitops/charts/virus-scan/templates/_helpers.tpl
  .gitops/charts/virus-scan/templates/configmap.yaml
  .gitops/charts/virus-scan/templates/service.yaml
  .gitops/charts/virus-scan/templates/statefulset.yaml
  .gitops/charts/virus-scan/values.yaml
Labels: DevOps

#1018 TCVP-2081 dispute update request ORDS support
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/OrdsOccamApiClientConfiguration.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeUpdateRequestStatus.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/DisputeUpdateRequestRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/DisputeUpdateRequestRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/main/resources/occm-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceH2Test.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsOccamTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/util/RandomUtil.java
Labels: oracle-data-api

#1027 TCVP-2120 exposed ORDS TCO /v1/assignDisputeVtc
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/JJDisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/BaseTestSuite.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsTcoTest.java
Labels: oracle-data-api

#1028 TCVP-2120 exposed ORDS TCO /v1/unassignDisputeVtc
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/JJDisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/util/DateUtil.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsTcoTest.java
Labels: oracle-data-api

#1030 TCVP-2120 exposed ORDS TCO /v1/assignDisputeJj
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/JJDisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsTcoTest.java
Labels: oracle-data-api

#1031 Updated Oracle Data OpenApi client in .NET
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
Labels: staff-api

#1035 TCVP-2075 Audit log entries (file history) ords support
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/CitizenDocumentService.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SaveFileHistory.cs
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/FileHistoryService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/StaffDocumentService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/FileHistoryControllerTest.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputeUpdateRequestAcceptedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputeUpdateRequestRejectedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/EmailVerificationReceivedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/SendUpdateRequestReceivedEmailConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Services/FileHistoryService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IOracleDataApiService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/OrdsOccamApiClientConfiguration.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/FileHistoryController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/AuditLogEntryMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/AuditLogEntryType.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/FileHistory.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/FileHistoryRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/FileHistoryRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/FileHistoryService.java
  src/backend/oracle-data-api/src/main/resources/occm-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/FileHistoryControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/util/RandomUtil.java
Labels: oracle-data-api, citizen-api, staff-api, workflow-service

#1045 TCVP-2076 email history ords support
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/EmailHistoryControllerTest.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/OrdsOccamApiClientConfiguration.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/EmailHistoryController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/OutgoingEmailMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/EmailHistory.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/EmailHistoryRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/EmailHistoryRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/EmailHistoryRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/EmailHistoryService.java
  src/backend/oracle-data-api/src/main/resources/occm-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/EmailHistoryControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/util/RandomUtil.java
Labels: oracle-data-api, workflow-service

#1050 TCVP-2196 updated OCR to match changed Azure service
  src/backend/TrafficCourts/Citizen.Service/Validators/Rules/OnlyMVAIsSelectedRule.cs
  src/backend/TrafficCourts/Citizen.Service/Validators/ValidationMessages.cs
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/CheckboxIsValidRuleTest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/OnlyMVAIsSelectedRuleTest.cs
Labels: citizen-api

#1056 TCVP-2124 Use PartId from Keycloak
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/JJControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/JJDisputeServiceTest.cs
Labels: staff-api
