Repository bcgov/jag-traffic-courts-online, pull requests merged in 2023-01, with the labels that each got.

#950 Fixed logic with /email/verify endpoint
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
Labels: oracle-data-api

#949 TCVP-2036 added /email/reset endpoint to oracle-data-api
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
Labels: oracle-data-api

#961 TCVP-2087 Investigate COMS error when creating files
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/IntegrationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ServiceTests/DeleteFileAsync.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/TrafficCourts.Coms.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/File.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/Models.g.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/ObjectManagementService.cs
Labels: bug, .NET, citizen-api, staff-api

#962 TCVP-1954 removed andTime from JJDIspute queries
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IOracleDataApiService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/JJDisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/util/RandomUtil.java
Labels: oracle-data-api

#967 TCVP-2053 staff get single document
  src/backend/TrafficCourts/Staff.Service/Controllers/ComsController.cs
  src/backend/TrafficCourts/Staff.Service/Services/ComsService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IComsService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/ComsControllerTest.cs
Labels: staff-api

#968 TCVP-1954 Created JJDispute mapper and tests
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputeHearingType.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/Plea.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/resources/data.sql
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceOrdsTcoTest.java
Labels: oracle-data-api

#971 Added mapping for JJDisputeRemark
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
Labels: oracle-data-api

#964 TCVP-2000 - Get Document IDs when Staff API Get JJDispute called
  src/backend/TrafficCourts/Common/Models/JJDispute.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/ComsController.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/JJController.cs
  src/backend/TrafficCourts/Staff.Service/Services/ComsService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IComsService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/ComsControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/JJControllerTest.cs
Labels: staff-api

#980 Updated mapping of JJDispute
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/Auditable.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/ContactType.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputantContactInformation.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeCount.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputeStatus.java
  src/backend/oracle-data-api/src/main/resources/data.sql
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
Labels: oracle-data-api

#982 Updated mapping for JJDisputeCount
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/Auditable.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputeRemark.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputedCount.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputedCountFinding.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputedCountRoP.java
  src/backend/oracle-data-api/src/main/resources/data.sql
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/util/RandomUtil.java
Labels: oracle-data-api

#985 Refactored JJDispute's PK to a Long.
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputantContactInformation.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeCount.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDisputedCount.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/JJDisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/JJDisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/backend/oracle-data-api/src/main/resources/data.sql
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeServiceTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/util/RandomUtil.java
Labels: oracle-data-api

#987 Change dev environment to use in memory version of H2.
  .gitops/charts/traffic-court-dev-values.yaml
Labels: DevOps

#986 TCVP-2110 workflow service to virus scan documents
  docker-compose.yml
  src/backend/TrafficCourts/Messaging/MessageContracts/VirusScanDocument.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/VirusScanDocumentConsumerTest.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Services/VirusScanServiceTests.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/VirusScanDocumentConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Services/ComsService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IComsService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IVirusScanService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/VirusScanService.cs
  src/backend/TrafficCourts/Workflow.Service/Startup.cs
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
  src/backend/TrafficCourts/Workflow.Service/appsettings.Development.json
Labels: workflow-service
