Repository bcgov/jag-traffic-courts-online, pull requests merged in 2023-11, with the labels that each got.

#1349 TCVP-2550 Added multiple search filters to Staff Workbench
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.ts
Labels: staff-portal

#1354 TCVP-2550 Added search filters to Decision Validation tab
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.scss
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.ts
  src/frontend/staff-portal/src/app/shared/utils/date-util.ts
Labels: staff-portal

#1359 TCVP-1986 Wording change - OCR erroring on background text / Date of Service
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
Labels: citizen-portal

#1358 Bug fix for a single-count VT2 image
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/TimeRuleTest.cs
Labels: citizen-api

#1365 Displayed "No results" on DCF tab when no results
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.scss
Labels: staff-portal

#1363 TCVP-2542 Add Locking Functionality for JJ Disputes
  src/backend/TrafficCourts/Common/Models/JJDispute.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeLockController.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/JJController.cs
  src/backend/TrafficCourts/Staff.Service/Models/Lock.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeLockService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IDisputeLockService.cs
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeLockControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/JJControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/DisputeLockServiceTest.cs
Labels: staff-api

#1368 TCVP-2559 VT1 are no longer supported by OCR
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Citizen.Service/Validators/Rules/VersionVT1DisallowedRule.cs
  src/backend/TrafficCourts/Citizen.Service/Validators/ValidationMessages.cs
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/VersionVT1DisallowedRuleTest.cs
Labels: citizen-api

#1370 TCVP-2559 VT1 tickets are no longer supported
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
Labels: citizen-portal

#1372 traffic-court-online helm fix - saga settings
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-online/charts/workflow-service/templates/deployment.yaml
  gitops/charts/traffic-court-online/charts/workflow-service/values.yaml
  gitops/charts/traffic-court-test-values.yaml
Labels: dev-ops

#1373 OCR tweak to improve Violation Date parsing
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/DateOfServiceLT30RuleTest.cs
Labels: citizen-api

#1374 TCVP-2560 Block VT1 Tickets from RSI Lookup Search
  src/backend/TrafficCourts/Citizen.Service/Controllers/TicketsController.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/Search.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchHandlerTest.cs
Labels: citizen-api

#1385 TCVP-2380 remove extra saga initial state causing duplicate emails
  src/backend/TrafficCourts/Messaging/MessageContracts/DisputantEmailVerification.cs
  src/backend/TrafficCourts/Workflow.Service/Sagas/VerifyEmailAddressSagaStateMachine.cs
Labels: workflow-service

#1387 TCVP-2559 Updated UI to match new text in Jira ticket.
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
  src/frontend/citizen-portal/src/assets/mail-icon.svg
Labels: citizen-portal

#1388 Package updates
  src/backend/TrafficCourts/Citizen.Service/TrafficCourts.Citizen.Service.csproj
  src/backend/TrafficCourts/Common/TrafficCourts.Common.csproj
  src/backend/TrafficCourts/Messaging/TrafficCourts.Messaging.csproj
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/Test/TrafficCourts.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client.Test/TrafficCourts.Arc.Dispute.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/TrafficCourts.Arc.Dispute.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Cdogs.Client.Test/TrafficCourts.Cdogs.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Common.Test/TrafficCourts.Common.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/TrafficCourts.Coms.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Core.Test/TrafficCourts.Core.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/TrafficCourts.Staff.Service.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Workflow.Service.Test/TrafficCourts.Workflow.Service.Test.csproj
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
Labels: dependencies, .NET, citizen-api, staff-api, workflow-service

#1390 TCVP-2402 updated UI message when viewing no records
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
Labels: staff-portal

#1392 TCVP-2525 Added endpoint to cascade update JJDispute
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SaveFileHistory.cs
  src/backend/TrafficCourts/Staff.Service/Authentication/Scopes.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/JJController.cs
  src/backend/TrafficCourts/Staff.Service/Services/IJJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
Labels: staff-api

#1391 TCVP-2525 Added endpoint to cascade update JJDispute
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SaveFileHistory.cs
  src/backend/TrafficCourts/Staff.Service/Authentication/Scopes.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/JJController.cs
  src/backend/TrafficCourts/Staff.Service/Services/IJJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/AuditLogEntryType.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
Labels: oracle-data-api

#1399 TCVP-2560 Block VT1 ISC Tickets
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchHandlerTest.cs
Labels: citizen-api

#1397 TCVP-2559 Text change per change of requirements
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.scss
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
Labels: citizen-portal

#1396 TCVP-2523 Added Edit button to DCF screen
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/services/jj-dispute.service.ts
  src/frontend/staff-portal/src/assets/i18n/en.json
  src/frontend/staff-portal/src/assets/i18n/fr.json
Labels: staff-portal

#1402 Migrate from .NET Core 7.0 to 8.0
  .github/workflows/bld-oracle-data-api.yml
  .github/workflows/ci-azure-cognitive-service-layout.yml
  .github/workflows/ci-ticket-generator.yml
  .github/workflows/main-code-climate-coverage-aggregation.yml
  .github/workflows/pr-citizen-api.yml
  .github/workflows/pr-frontend.yml
  .github/workflows/pr-oracle-api.yml
  gitops/openshift/tools/image-streams/dotnet.yaml
  src/backend/TrafficCourts/Citizen.Service/Dockerfile
  src/backend/TrafficCourts/Citizen.Service/Dockerfile.rhel8
  src/backend/TrafficCourts/Citizen.Service/TrafficCourts.Citizen.Service.csproj
  src/backend/TrafficCourts/Common/OpenAPIs/Keycloak/v18_0/KeycloakAdminApiClient.g.cs
  src/backend/TrafficCourts/Common/OpenAPIs/Keycloak/v18_0/keycloak-admin-api.nswag
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/README.md
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/oracle-data-api.nswag
  src/backend/TrafficCourts/Common/OpenAPIs/VirusScan/v1/VirusScan.nswag
  src/backend/TrafficCourts/Common/OpenAPIs/VirusScan/v1/VirusScanClient.g.cs
  src/backend/TrafficCourts/Common/TrafficCourts.Common.csproj
  src/backend/TrafficCourts/Messaging/TrafficCourts.Messaging.csproj
  src/backend/TrafficCourts/Staff.Service/Dockerfile
  src/backend/TrafficCourts/Staff.Service/Dockerfile.rhel8
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/Test/TrafficCourts.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client.Test/TrafficCourts.Arc.Dispute.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client/ArcDisputeClient.g.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client/TrafficCourts.Arc.Dispute.Client.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client/TrafficCourts.Arc.Dispute.Client.nswag
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Dockerfile
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Dockerfile.rhel8
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/TrafficCourts.Arc.Dispute.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Cdogs.Client.Test/TrafficCourts.Cdogs.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Cdogs.Client/Cdogs.nswag
  src/backend/TrafficCourts/TrafficCourts.Cdogs.Client/TrafficCourts.Cdogs.Client.csproj
  src/backend/TrafficCourts/TrafficCourts.Common.Test/TrafficCourts.Common.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/TrafficCourts.Coms.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/ComService.nswag
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/TrafficCourts.Coms.Client.csproj
  src/backend/TrafficCourts/TrafficCourts.Core.Test/TrafficCourts.Core.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Core/TrafficCourts.Core.csproj
  src/backend/TrafficCourts/TrafficCourts.Messaging.Test/TrafficCourts.Messaging.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/JJDisputeServiceTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/TrafficCourts.Staff.Service.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Workflow.Service.Test/TrafficCourts.Workflow.Service.Test.csproj
  src/backend/TrafficCourts/Workflow.Service/Dockerfile
  src/backend/TrafficCourts/Workflow.Service/Dockerfile.rhel8
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
  src/backend/bc-gov-virus-scan/BCGov.VirusScan.Api/BCGov.VirusScan.Api.csproj
  src/backend/bc-gov-virus-scan/BCGov.VirusScan.Api/Dockerfile
  src/backend/bc-gov-virus-scan/BCGov.VirusScan.Api/Dockerfile.rhel8
  tools/build-tools.yml
Labels: .NET

#1410 Exclude JsonSerializer generated code from code coverage
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/ComsJsonContext.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Http/Models/ModelSerializerContext.cs
Labels: dev-ops

#1409 fix keycloak-token-endpoint env var
  docker-compose.yml
Labels: staff-api

#1418 Add cdogs required env vars for docker compose
  .env.template
Labels: dev-ops

#1421 TCVP-2600 Retrieve Accident and Multiple Officers Flags
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
Labels: oracle-data-api, ords

#1425 TCVP-2524 Made Contact Information fields editable
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/config/config.service.ts
  src/frontend/staff-portal/src/app/services/lookups.service.ts
Labels: staff-portal

#1427 TCVP-2524 Made Court Options editable
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/assets/i18n/en.json
  src/frontend/staff-portal/src/assets/i18n/fr.json
Labels: oracle-data-api, staff-portal

#1429 TCVP-2524 Made DCF tab editable
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/JJDisputeService.java
  src/frontend/staff-portal/package.json
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/shared/modules/ngx-material/ngx-material.module.ts
  src/frontend/staff-portal/src/assets/i18n/en.json
  src/frontend/staff-portal/src/assets/i18n/fr.json
  src/frontend/staff-portal/yarn.lock
Labels: oracle-data-api, staff-portal

#1432 Fixed debug logging messages to match endpoints
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/JJDisputeController.java
Labels: oracle-data-api
