Repository bcgov/jag-traffic-courts-online, pull requests merged in 2023-12, with the labels that each got.

#1434 TCVP-1224 Citizen Portal UI changes
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.scss
  src/frontend/citizen-portal/src/app/services/notice-of-dispute.service.ts
Labels: citizen-portal

#1440 TCVP-2572 Updated external link
  src/frontend/citizen-portal/src/app/components/initiate-resolution/initiate-resolution.component.html
Labels: citizen-portal

#1439 TCVP-2568 CitizenPortal wording changes
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/ticket-landing/ticket-landing.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/image-requirements-dialog/image-requirements-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/ticket-example-dialog/ticket-example-dialog.component.html
  src/frontend/citizen-portal/src/assets/e-ticket-sample.jpg
  src/frontend/citizen-portal/src/assets/image-2023-12-05-07-43-36-311.png
  src/frontend/citizen-portal/src/assets/image-2023-12-05-07-43-42-912.png
  src/frontend/citizen-portal/src/assets/image-2023-12-05-07-43-49-269.png
  src/frontend/citizen-portal/src/assets/intersection-safety-ticket-sample.jpg
  src/frontend/citizen-portal/src/assets/violation-ticket-sample.jpg
Labels: citizen-portal

#1442 TCVP-2569 Trying to upload an xls was crashing javascript
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
Labels: citizen-portal

#1444 TCVP-2548 Block Submitting Multiple Disputes for a Violation Ticket
  src/backend/TrafficCourts/Citizen.Service/Controllers/TicketsController.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/ITicketSearchService.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Controllers/TicketsControllerTests.cs
Labels: citizen-api

#1441 TCVP-2554 Fixed invalid statue validation error
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: staff-portal

#1445 TCVP-2577 Added warning box to stepper
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.html
Labels: citizen-portal

#1446 TCVP-2540 Update warning wording when all skipped
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
Labels: citizen-portal

#1447 TCVP-2579 citizen-portal wording changes
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
Labels: citizen-portal

#1450 TCVP-2586 simple wording change on citizen-portal
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/shared/components/alert/alert.component.scss
Labels: citizen-portal

#1448 TCVP-2578 citizen-portal wording changes
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
Labels: citizen-portal

#1436 TCVP-2563 - Add form number to RSI service
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Common/Invoice.cs
Labels: .NET, citizen-api

#1458 TCVP-2629 UI javascript error
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
Labels: citizen-portal

#1459 TCVP-2523 DCF editing should only be allowed on staff workbench
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.html
Labels: staff-portal

#1460 TCVP-2422 Updated Courthouse-Team mapping
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/config/config.service.ts
  src/frontend/staff-portal/src/app/services/lookups.service.ts
  src/frontend/staff-portal/src/assets/courthouse-data.json
Labels: staff-portal

#1462 Oracle Data API added root url for easy redirect to swagger UI
  src/backend/oracle-data-api/src/main/resources/application.yml
Labels: oracle-data-api

#1461 TCVP-2594 disallow decimals numbers
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
Labels: citizen-portal

#1463 DevOps - enable debug-level logging for .NET APIs
  docker-compose.yml
  tools/port-forward-jaeger.bat
Labels: dev-ops

#1466 TCVP-2568 Update Check Format of Ticket Page Styling
  src/frontend/citizen-portal/src/app/components/ticket-landing/ticket-landing.component.html
  src/frontend/citizen-portal/yarn.lock
Labels: citizen-portal

#1467 Bump PVC size to match manually changed size in dev, increase app db backup size to 2GB
  gitops/charts/postgres/postgres-dev-values.yaml
  gitops/charts/postgres/postgres-test-application-values.yaml
Labels: dev-ops

#1470 Throw UI error message if Dispute email not yet verified
  src/backend/TrafficCourts/Citizen.Service/Controllers/DisputesController.cs
  src/backend/TrafficCourts/Citizen.Service/Models/Disputes/SearchDisputeResult.cs
  src/backend/TrafficCourts/Citizen.Service/Properties/launchSettings.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SearchDispute.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/SearchDisputeConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Properties/launchSettings.json
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeResult.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/DisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/DisputeRepositoryImpl.java
  src/frontend/citizen-portal/src/app/api/.openapi-generator/FILES
  src/frontend/citizen-portal/src/app/api/api.module.ts
  src/frontend/citizen-portal/src/app/api/api/api.ts
  src/frontend/citizen-portal/src/app/api/api/trafficCourtsCitizenService.service.ts
  src/frontend/citizen-portal/src/app/api/model/invoice.model.ts
  src/frontend/citizen-portal/src/app/api/model/models.ts
  src/frontend/citizen-portal/src/app/api/model/searchDisputeResult.model.ts
  src/frontend/citizen-portal/src/app/api/swagger.json
  src/frontend/citizen-portal/src/app/components/update-dispute-landing/update-dispute-landing.component.html
  src/frontend/citizen-portal/src/app/components/update-dispute-landing/update-dispute-landing.component.scss
  src/frontend/citizen-portal/src/app/components/update-dispute-landing/update-dispute-landing.component.ts
  src/frontend/citizen-portal/src/app/services/dispute.service.ts
  src/frontend/citizen-portal/src/app/store/dispute/dispute.effects.ts
Labels: oracle-data-api, citizen-api, citizen-portal

#1469 TCVP-2492 update filters
  src/frontend/staff-portal/src/app/app.module.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.ts
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.scss
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.ts
  src/frontend/staff-portal/src/app/services/dispute.service.ts
  src/frontend/staff-portal/src/app/services/table-filter.service.ts
  src/frontend/staff-portal/src/app/shared/components/page/page.component.html
  src/frontend/staff-portal/src/app/shared/models/table-filter-options.model.ts
  src/frontend/staff-portal/src/scss/app.scss
Labels: staff-portal

#1468 TCVP-2539 Citizen Portal Wording Updates
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/initiate-resolution/initiate-resolution.component.html
Labels: citizen-portal

#1472 TCVP-2543 fix image
  src/frontend/citizen-portal/nginx.conf
Labels: citizen-portal

#1471 Made TicketGenerator more robust with filenames
  tools/ticket-generator/src/main/java/ca/bc/gov/court/traffic/ticket/controller/TicketGeneratorController.java
Labels: ticket-generator

#1473 Improved startup of oracle-data-api
  docker-compose.yml
  src/backend/oracle-data-api/Dockerfile
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/scheduled/StartupTasks.java
Labels: oracle-data-api, dev-ops

#1476 TCVP-2649 updated CSS styles on DCF staff-portal
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
Labels: staff-portal

#1477 Updated the fake smtp server version
  docker-compose.yml
Labels: dev-ops

#1478 Add common timing metrics for Oracle Data API
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/IOracleDataApiOperationMetrics.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiOperationMetrics.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/TimedOracleDataApiClient.cs
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/Staff.Service/appsettings.Development.json
  src/backend/TrafficCourts/TrafficCourts.Core.Test/Diagnostics/MeterExtensionTest.cs
  src/backend/TrafficCourts/TrafficCourts.Core.Test/Diagnostics/OperationMetricsTest.cs
  src/backend/TrafficCourts/TrafficCourts.Core.Test/TrafficCourts.Core.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Core/Diagnostics/IOperationMetrics.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Diagnostics/ITimerOperation.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Diagnostics/MeterExtension.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Diagnostics/OperationMetrics.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Diagnostics/Timer.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Diagnostics/ValueStopwatch.cs
  src/backend/TrafficCourts/Workflow.Service/Instrumentation/Instrumentation.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/TrafficCourts/Workflow.Service/Startup.cs
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
Labels: staff-api, workflow-service

#1480 TCVP-1981 Made DCF Finding Disposition fields editable
  src/backend/oracle-data-api/README.md
  src/backend/oracle-data-api/pom.xml
  src/frontend/staff-portal/package.json
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/shared/modules/ngx-material/ngx-material.module.ts
  src/frontend/staff-portal/src/assets/i18n/en.json
  src/frontend/staff-portal/src/assets/i18n/fr.json
  src/frontend/staff-portal/yarn.lock
Labels: staff-portal
