Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-05, with the labels that each got.

#1865 TCVP-2447 Fix Disputant Upload Rules
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/store/dispute/dispute.reducers.ts
Labels: citizen-portal, release 2.2

#1862 TCVP-2767 DCF Update - Make Findings Sections Expandable
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: staff-portal, release 2.2

#1861 TCVP-2471 JJ DCF Hearing - rename comments field to JJ endorsements
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-court-appearances/jj-dispute-court-appearances.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
Labels: staff-portal, release 2.2

#1860 TCVP-2940 fix error msg
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
Labels: citizen-portal, release 2.2

#1859 TCVP-2766 DCF Update - Change Offence Amt to Fine Amount
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: staff-portal, release 2.2

#1867 TCVP-2812 Display Courthouse Location on Print DCF
  src/backend/TrafficCourts/Common/Features/Lookups/AgencyLookupService.cs
  src/backend/TrafficCourts/Common/Features/Lookups/IAgencyLookupService.cs
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
Labels: staff-api, release 2.1.8

#1868 TCVP-2958 Fix error preventing deleting files
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ComsContainers.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ComsIntegrationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/Models.g.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/ObjectManagementClient.g.cs
Labels: bug, staff-api, release 2.1.8

#1869 TCVP-2950 make adjustments to fix possible memory leak
  gitops/charts/traffic-court-online/charts/arc-dispute-api/templates/deployment.yaml
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Configuration/SftpConnectionOptions.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Services/SftpService.cs
Labels: arc-dispute-service, release 2.1.8

#1870 TCVP-2786: Update Dispute Type Mapping for ARC
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Mappers/MapperTest.cs
Labels: staff-api, release 2.1.8

#1873 Hotfix/TCVP-2958 handle deleted files in COMS correctly
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ComsIntegrationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/IntegrationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/FileSearchParameters.cs
Labels: release 2.1.8
