Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-11, with the labels that each got.

#1993 TCVP-3078: Remove time from JJ decision calendar pick
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: enhancement, staff-portal, release 2.4

#1994 TCVP-3077: Update require court hearing wording in staff portal
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/more-options-dialog/more-options-dialog.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/more-options-dialog/more-options-dialog.component.ts
Labels: enhancement, staff-portal, release 2.4

#1997 TCVP-3078: Remove jj decision timestamp from dcf
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: staff-portal, release 2.4

#1996 TCVP-3040 QA - WR Inbox - Skipped count is appearing when user clicks "Confirm" button [WR]
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
Labels: bug, staff-portal, release 2.4

#1998 TCVP-2707 Revert team location changes
  src/frontend/staff-portal/src/assets/courthouse-data.json
Labels: staff-portal, release 2.4

#1995 TCVP-2785 Dispute Updates Not Showing all Updates [WR]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-updates/jj-dispute-updates.component.ts
Labels: enhancement, staff-portal, release 2.4

#1999 TCVP-3071 Time to Pay Date Does not match Due Date in Final Disposition
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: bug, staff-portal, release 2.4

#2001 TCVP-2954 DCF Search - Remove Action Buttons/Make DCF Search screen Read Only [WR]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.ts
  src/frontend/staff-portal/src/app/shared/components/header/header.component.html
  src/frontend/staff-portal/src/app/shared/enums/tab-type.enum.ts
  src/frontend/staff-portal/src/app/shared/pipes/custom-date.pipe.ts
Labels: enhancement, staff-portal, release 2.4

#2002 Merge Release/2.4 into develop
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-updates/jj-dispute-updates.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/staff-workbench-dashboard/staff-workbench-dashboard.component.ts
  src/frontend/staff-portal/src/app/shared/components/header/header.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/staff-portal/src/app/shared/enums/tab-type.enum.ts
  src/frontend/staff-portal/src/app/shared/pipes/custom-date.pipe.ts
  src/frontend/staff-portal/src/assets/courthouse-data.json
Labels: release 2.4

#2003 TCVP-3079 DCF - Revise Fine Improvements [WR - add to Release 2.5]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: enhancement, staff-portal, release 2.5

#2004 TCVP-3042 removed the link to DCF
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.html
Labels: enhancement, staff-portal, release 2.5

#2005 TCVP-3082: Set time to pay date to JJ signature date
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
Labels: enhancement, staff-portal, release 2.5

#2007 TCVP-3079 DCF - Revise Fine Improvements [WR - add to Release 2.5]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: enhancement, staff-portal, release 2.5
