Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-10, with the labels that each got.

#1976 TCVP-3075: Undefinied Finding Error on Staff Portal
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: bug, staff-portal, release 2.3

#1978 TCVP-3075 Error UI in DCF
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: bug, staff-portal, release 2.3

#1982 TCVP-2707: Adjust Team Locations
  src/frontend/staff-portal/src/assets/courthouse-data.json
Labels: staff-portal

#1992 TCVP-3048 QA - WR DCF Findings Selection Displays Hover-over
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: bug, staff-portal, release 2.4

#1991 TCVP-2785 Dispute Updates Not Showing all Updates [WR]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-updates/jj-dispute-updates.component.ts
Labels: enhancement, staff-portal, release 2.4
