Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-04, with the labels that each got.

#1749 Redis cluster config for oracle data api
  docker-compose.yml
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/RedisConfig.java
  src/backend/oracle-data-api/src/main/resources/application.yml
Labels: oracle-data-api

#1751 TCVP-2871 Save dispute on validate button clicked
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IDisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeControllerTest.cs
  src/frontend/staff-portal/src/app/api/api/dispute.service.ts
  src/frontend/staff-portal/src/app/api/model/lock.model.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
  src/frontend/staff-portal/src/app/services/dispute.service.ts
Labels: staff-api, staff-portal

#1752 TCVP-2878 Filter corrupt files in COMS
  src/backend/TrafficCourts/Citizen.Service/Controllers/DisputesController.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
Labels: citizen-api, staff-api

#1760 TCVP-2880 update dispute back button return to ticket search
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.scss
  src/frontend/citizen-portal/src/app/services/dispute.service.ts
  src/frontend/citizen-portal/src/app/store/dispute/dispute.reducers.ts
  src/frontend/citizen-portal/src/app/store/dispute/dispute.state.ts
Labels: citizen-portal

#1763 TCVP-2637 fix show comment in File Remarks
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-remarks/jj-dispute-remarks.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-file-history/jj-file-history.component.ts
Labels: staff-portal

#1761 TCVP-2885 Updated liveliness/readiness probe timeouts for oracle-data-api
  gitops/charts/traffic-court-online/charts/oracle-data-api/templates/deployment.yaml
Labels: dev-ops

#1762 TCVP-2825 Updated maintenance-site per new requirements
  infrastructure/static-site/maintenance/index.html
Labels: dev-ops

#1765 TCVP-2889 Update scope name to have correct naming convention
  src/backend/TrafficCourts/Staff.Service/Authentication/Scopes.cs
Labels: staff-api

#1767 TCVP-2563 Filter RSI search results to a specific FormNumber
  src/backend/TrafficCourts/Citizen.Service/Controllers/TicketsController.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/Search/Handler.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchHandlerTest.cs
Labels: citizen-api

#1781 Add routes and instructions for going to/from maintenance
  gitops/openshift/dev/README.md
  gitops/openshift/dev/citizen-web-for-maintenance.yaml
  gitops/openshift/prod/README.md
  gitops/openshift/prod/citizen-web-for-maintenance.yaml
  gitops/openshift/test/README.md
  gitops/openshift/test/citizen-web-for-maintenance.yaml
  gitops/openshift/tools/README.md
Labels: dev-ops

#1780 Increase PVC storage for jaeger for test and prod
  gitops/charts/jaeger/values-prod.yaml
  gitops/charts/jaeger/values-test.yaml
Labels: dev-ops

#1786 Banner Fix
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.ts
Labels: citizen-portal

#1788 Merge initial PROD chart values
  gitops/charts/traffic-court-prod-values.yaml
Labels: dev-ops

#1790 Updated prod values for citizen-api
  gitops/charts/traffic-court-prod-values.yaml
Labels: dev-ops

#1791 Hotfix/helm configuration
  gitops/charts/keycloak/keycloak-prod-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
Labels: dev-ops

#1797 hotfix/tcvp 2902 bcsc config to main
  gitops/charts/keycloak/keycloak-prod-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
Labels: citizen-api

#1796 hotfix/tcvp 2902 bcsc config to develop
  gitops/charts/keycloak/keycloak-prod-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.ts
Labels: citizen-api

#1798 TCVP-2903 Updated Citizen API logging
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2022_08_31.cs
Labels: citizen-api

#1787 TCVP-2900 Upgrade User Initializer App
  tools/keycloak-user-initializer/pom.xml
  tools/keycloak-user-initializer/src/main/java/ca/bc/gov/open/jag/tco/keycloakuserinitializer/service/KeycloakService.java
  tools/keycloak-user-initializer/src/main/java/ca/bc/gov/open/jag/tco/keycloakuserinitializer/util/TcoUserDataLoader.java
Labels: release 2.1

#1802 Fix staff portal banner config into main
  gitops/charts/traffic-court-online/charts/staff-web/templates/configmap.yaml
  gitops/charts/traffic-court-online/charts/staff-web/templates/deployment.yaml
  gitops/charts/traffic-court-online/charts/staff-web/values.yaml
Labels: staff-portal, dev-ops

#1803 Fix staff portal banner config into develop
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-online/charts/staff-web/templates/configmap.yaml
  gitops/charts/traffic-court-online/charts/staff-web/templates/deployment.yaml
  gitops/charts/traffic-court-online/charts/staff-web/values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2022_08_31.cs
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: staff-portal, dev-ops

#1805 TCVP-2733 Update dispute status tags for staff and status tracker for disputant
  src/backend/TrafficCourts/Citizen.Service/Controllers/DisputesController.cs
  src/backend/TrafficCourts/Citizen.Service/Models/Disputes/SearchDisputeResult.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SearchDispute.cs
  src/backend/TrafficCourts/Test/Messaging/SearchDisputeResponseTest.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/SearchDisputeConsumerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Models/OracleDataApiModels.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/SearchDisputeConsumer.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeResult.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/DisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/DisputeRepositoryImpl.java
  src/frontend/citizen-portal/src/app/api/model/searchDisputeResult.model.ts
  src/frontend/citizen-portal/src/app/api/swagger.json
  src/frontend/citizen-portal/src/app/shared/dialogs/dispute-status-dialog/dispute-status-dialog.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/services/jj-dispute.service.ts
Labels: oracle-data-api, citizen-api, workflow-service, staff-portal, citizen-portal, release 2.1

#1807 TCVP-2914 Sanitized whitespace characters on some OCR fields
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/FormRecognizerValidatorTest.cs
Labels: citizen-api

#1808 TCVP-2914 Release 2.0.3
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  gitops/charts/traffic-court-test-values.yaml
Labels: citizen-api, dev-ops

#1806 TCVP-2879 block change dispute from WR to hearing
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/core/services/form-utils.service.ts
Labels: citizen-portal

#1810 TCVP-2809: TCO Snowplow report - Manage Dispute bar missing
  src/frontend/citizen-portal/src/app/components/landing/landing.component.html
  src/frontend/citizen-portal/src/app/components/landing/landing.component.scss
Labels: bug, citizen-portal, release 2.1

#1811 TCVP-2637 fix comments saving wrong field
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: staff-portal, release 2.1

#1809 Down merge hotfix to develop : increase citizen portal timeout
  gitops/openshift/prod/citizen-web-for-justice-proxy.yaml
Labels: dev-ops, citizen-portal

#1824 Down merge main into Develop 2.0.3
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/FormRecognizerValidatorTest.cs
Labels: citizen-api, dev-ops

#1823 TCVP-2387 fix mobile layout
  src/frontend/citizen-portal/src/app/app.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.scss
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/components/find-dispute/find-dispute.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.html
  src/frontend/citizen-portal/src/app/components/find-ticket/find-ticket.component.ts
  src/frontend/citizen-portal/src/app/components/initiate-resolution/initiate-resolution.component.scss
  src/frontend/citizen-portal/src/app/components/tco-page/tco-page.component.scss
  src/frontend/citizen-portal/src/app/shared/components/resolution-header/resolution-header.component.html
Labels: bug, citizen-portal, release 2.1

#1828 Merge Postman Collection branch into develop
  tools/postman/OCCAM ORDS DEV.postman_collection.json
  tools/postman/TCO ORDS DEV.postman_collection.json
Labels: dev-ops

#1832 TCVP-2878 Added logging to help with missing data in COMS
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
Labels: staff-api

#1834 TCVP-2924 update FormRecognizer model
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__custom__.virtualdir/.__requests__.virtualdir/.__default__.virtualdir/.__31452999789_fb573270-c139-489f-b743-9c36f1ee189b__.virtualdir/request.json
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__modelReferences__.virtualdir/ViolationTicket.json
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__models__.virtualdir/.__9ad26703-7851-44a4-a21a-56f8e9621fa7__.virtualdir/9ad26703-7851-44a4-a21a-56f8e9621fa7.gz
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__models__.virtualdir/.__fb573270-c139-489f-b743-9c36f1ee189b__.virtualdir/fb573270-c139-489f-b743-9c36f1ee189b.gz
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__models__.virtualdir/.__fb573270-c139-489f-b743-9c36f1ee189b__.virtualdir/fb573270-c139-489f-b743-9c36f1ee189b.json
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__models__.virtualdir/.__fb573270-c139-489f-b743-9c36f1ee189b__.virtualdir/useLabelFile.json
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__models__.virtualdir/.__fb573270-c139-489f-b743-9c36f1ee189b__.virtualdir/version-2022-08-31
  tools/form-recognizer/3.0/backup/shared/formrecognizer/.__subscriptions__.virtualdir/.__default__.virtualdir/.__operations__.virtualdir/.__31452999789_fb573270-c139-489f-b743-9c36f1ee189b__.virtualdir/operationInfo.json
Labels: form-recognizer

#1833 Move traffic court online image streams from gitops repos
  gitops/openshift/tools/image-streams/arc-dispute-api-imagestream.yaml
  gitops/openshift/tools/image-streams/citizen-api-imagestream.yaml
  gitops/openshift/tools/image-streams/citizen-web-imagestream.yaml
  gitops/openshift/tools/image-streams/oracle-data-api-imagestream.yaml
  gitops/openshift/tools/image-streams/staff-api-imagestream.yaml
  gitops/openshift/tools/image-streams/staff-web-imagestream.yaml
  gitops/openshift/tools/image-streams/workflow-service-imagestream.yaml
Labels: dev-ops

#1835 TCVP-2872: Add Upload Documents Feature to Ticket Validation Screen
  src/frontend/staff-portal/src/app/app.module.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-request/ticket-request.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/upload/upload.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/upload/upload.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/upload/upload.component.ts
Labels: enhancement, staff-portal, release 2.1

#1836 TCVP-2872: Add Upload Documents Feature to Ticket Validation Screen
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
Labels: enhancement, staff-portal, release 2.1

#1837 TCVP-2823 Fix issue where files are missing filenames
  docker-compose.yml
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ServiceTests/GetFileAsync.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/Metadata.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/ObjectManagementService.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/TrafficCourts.Coms.Client.csproj
Labels: citizen-api, staff-api

#1839 TCVP-2935 update splunk logging parameters
  gitops/charts/traffic-court-online/values.yaml
Labels: Breaking Change

#1847 TCVP-2467 Blank out fine amount and due date when not guilty
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: staff-portal, release 2.2

#1844 TCVP-1617 fix sorting
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
Labels: staff-portal, release 2.2

#1841 TCVP-2865 Print ticket validation view
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/Staff.Service/Services/IPrintDigitalCaseFileService.cs
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/TrafficCourts.OracleDataApi.csproj
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/PrintDigialCaseFile/PrintDigitalCaseFileIntegrationTest.cs
  src/frontend/staff-portal/src/app/api/api/dispute.service.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
  src/frontend/staff-portal/src/app/services/dispute.service.ts
Labels: enhancement, staff-api, staff-portal, release 2.2

#1850 TCVP-2705: Fix fine amount rounding
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: staff-portal, release 2.2
