Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-03, with the labels that each got.

#1636 TCVP-2737 Added timeout and logging to FR3.0
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2022_08_31.cs
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
Labels: citizen-api

#1641 TCVP-2647, 2763 fixes
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
  src/frontend/staff-portal/src/app/shared/models/table-filter-options.model.ts
  src/frontend/staff-portal/src/assets/i18n/en.json
  src/frontend/staff-portal/src/assets/i18n/fr.json
Labels: staff-portal

#1645 TCVP-2739 Added helm chart configuration
  gitops/charts/form-recognizer-2.1/.helmignore
  gitops/charts/form-recognizer-2.1/Chart.yaml
  gitops/charts/form-recognizer-2.1/templates/NOTES.txt
  gitops/charts/form-recognizer-2.1/templates/_helpers.tpl
  gitops/charts/form-recognizer-2.1/templates/configmap.yaml
  gitops/charts/form-recognizer-2.1/templates/cronjob.yaml
  gitops/charts/form-recognizer-2.1/templates/deployment.yaml
  gitops/charts/form-recognizer-2.1/templates/pvc.yaml
  gitops/charts/form-recognizer-2.1/templates/service.yaml
  gitops/charts/form-recognizer-2.1/values.yaml
  gitops/charts/form-recognizer-3.0/.helmignore
  gitops/charts/form-recognizer-3.0/Chart.yaml
  gitops/charts/form-recognizer-3.0/README.md
  gitops/charts/form-recognizer-3.0/templates/NOTES.txt
  gitops/charts/form-recognizer-3.0/templates/_helpers.tpl
  gitops/charts/form-recognizer-3.0/templates/configmap-proxy-config.yaml
  gitops/charts/form-recognizer-3.0/templates/deployment-custom-template.yaml
  gitops/charts/form-recognizer-3.0/templates/deployment-layout.yaml
  gitops/charts/form-recognizer-3.0/templates/deployment-proxy.yaml
  gitops/charts/form-recognizer-3.0/templates/job-init.yaml
  gitops/charts/form-recognizer-3.0/templates/pvc-logs.yaml
  gitops/charts/form-recognizer-3.0/templates/pvc-shared.yaml
  gitops/charts/form-recognizer-3.0/templates/service-custom-template.yaml
  gitops/charts/form-recognizer-3.0/templates/service-layout.yaml
  gitops/charts/form-recognizer-3.0/templates/service-proxy.yaml
  gitops/charts/form-recognizer-3.0/values.yaml
  gitops/openshift/tools/image-streams/form-recognizer-custom-template-3.0.yaml
  gitops/openshift/tools/image-streams/form-recognizer-layout-3.0.yaml
  tools/form-recognizer/3.0/Dockerfile.initModels
  tools/form-recognizer/3.0/init-models.sh
  tools/form-recognizer/3.0/init-studio.sh
Labels: dev-ops

#1647 TCVP-2782 Return file data for OCCAM disputes and update file upload request
  src/backend/TrafficCourts/Common/Models/Dispute.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/DocumentController.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeControllerTest.cs
Labels: staff-api

#1648 TCVP-2739 updated Form Recognizer 3.0 helm chart
  gitops/charts/form-recognizer-3.0/templates/deployment-layout.yaml
  gitops/charts/form-recognizer-3.0/templates/service-custom-template.yaml
  gitops/charts/form-recognizer-3.0/templates/service-layout.yaml
  gitops/charts/traffic-court-test-values.yaml
Labels: dev-ops

#1653 TCVP-2791: Citizen Portal: Don't Allow PDF Uploads to OCR / Update Text
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/image-requirements-dialog/image-requirements-dialog.component.html
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
Labels: citizen-portal

#1652 TCVP-1583 Print DCF - add missing fields
  src/backend/TrafficCourts/Common/OpenAPIs/Keycloak/UserAttributes.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/OffenseCount.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/IJJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/PrintDigialCaseFile/PrintDigitalCaseFileIntegrationTest.cs
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: staff-api, staff-portal

#1646 Updated API to be more robust with FR versions
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2022_08_31.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2_1.cs
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
Labels: citizen-api

#1657 Release 1.87.0
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1659 TCVP-2748 Fix invalid drivers licence prov country combo
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceTest.java
Labels: oracle-data-api

#1658 TCVP-2739 Bug fix for new FR 3.0
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/staff-portal/src/app/services/violation-ticket.service.ts
Labels: staff-portal, citizen-portal

#1660 Release 1.87.1
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1662 AutoMapper Update
  src/backend/TrafficCourts/Citizen.Service/TrafficCourts.Citizen.Service.csproj
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/TrafficCourts.Arc.Dispute.Service.csproj
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
Labels: citizen-api, staff-api, workflow-service, arc-dispute-service

#1667 TCVP-2802 Send blank drivers licence to ARC
  docker-compose.yml
  src/backend/TrafficCourts/Test/Arc.Dispute.Service/Models/DriversLicenceTest.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Models/DriversLicence.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Services/ArcFileService.cs
Labels: arc-dispute-service

#1661 Added retry to ORDS API calls in oracle-data-api
  src/backend/oracle-data-api/pom.xml
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/RetryAspect.java
  src/backend/oracle-data-api/src/main/resources/application.yml
Labels: oracle-data-api

#1663 TCVP-2651 Improved logging with RSI search results
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
Labels: citizen-api

#1668 TCVP-2715: Field "Province/state" is not marked as required in UI, but it's impossible to save it empty if Address is not Canada/USA
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
  src/frontend/citizen-portal/src/app/services/notice-of-dispute.service.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: bug, staff-portal, citizen-portal

#1671 Update mock test ticket data for ICBC testing
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/test-ticket-data.csv
Labels: citizen-api

#1672 Release 1.88.1
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1674 Update mock ticket data csv
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/test-ticket-data.csv
Labels: citizen-api

#1673 TCVP-2792 New request to hide internal staff-uploaded documents on citizen-portal
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/CitizenDocumentService.cs
  src/backend/TrafficCourts/Common/Models/DocumentProperties.cs
  src/backend/TrafficCourts/Common/Models/FileMetadata.cs
  src/backend/TrafficCourts/Staff.Service/Services/StaffDocumentService.cs
  src/frontend/citizen-portal/src/app/api/.openapi-generator/FILES
  src/frontend/citizen-portal/src/app/api/model/documentSource.model.ts
  src/frontend/citizen-portal/src/app/api/model/fileMetadata.model.ts
  src/frontend/citizen-portal/src/app/api/model/invoice.model.ts
  src/frontend/citizen-portal/src/app/api/model/models.ts
  src/frontend/citizen-portal/src/app/api/swagger.json
Labels: citizen-api, citizen-portal

#1677 TCVP-2467 try fix blank out fine amount and due date when not guilty
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: staff-portal

#1676 TCVP-2776 Add dispute options to 'Do you want to dispute your traffic ticket?' page
  src/frontend/citizen-portal/src/app/components/ticket-landing/ticket-landing.component.html
Labels: citizen-portal

#1678 TCVP-2792 Exclude unapproved citizen documents on jj workbench
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/CitizenDocumentService.cs
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/StaffDocumentService.cs
Labels: citizen-api, staff-api

#1679 TCVP-2647 fix included 'Concluded' records
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
Labels: staff-portal

#1681 TCVP-1583 Print DCF fix adjusted and surcharge amount
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
Labels: staff-api

#1684 TCVP-2817 Save signatory fields on update request
  src/backend/TrafficCourts/Messaging/MessageContracts/DisputeUpdateRequest.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputeUpdateRequestAcceptedConsumer.cs
Labels: workflow-service, ords

#1680 TCVP-2823 Updated document in COMS when staff accepted
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/DisputeUpdateRequestAcceptedConsumerTest.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/DisputeUpdateRequestAcceptedConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Services/WorkflowDocumentService.cs
  src/backend/TrafficCourts/Workflow.Service/appsettings.Development.json
Labels: workflow-service

#1687 TCVP-2711: Update Dispute - Change Dispute Stepper Updates
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.ts
Labels: bug, citizen-portal

#1689 Release 1.89.0
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1686 TCVP-2827 added support documentation to init FR3 PVC
  gitops/charts/form-recognizer-3.0/README.md
Labels: dev-ops

#1694 TCVP-2776 styles update
  src/frontend/citizen-portal/src/app/components/ticket-landing/ticket-landing.component.html
  src/frontend/citizen-portal/src/app/components/ticket-landing/ticket-landing.component.scss
  src/frontend/citizen-portal/src/app/components/ticket-landing/ticket-landing.component.ts
Labels: citizen-portal

#1692 TCVP-2825 Created static maintenance site
  .github/workflows/bld-maintenance-site.yml
  docker-compose.yml
  infrastructure/static-site/maintenance/Dockerfile
  infrastructure/static-site/maintenance/index.html
  infrastructure/static-site/maintenance/nginx.conf
Labels: dev-ops

#1696 TCVP-2829 Fix drivers licence check digit logic in ARC service
  src/backend/TrafficCourts/Test/Arc.Dispute.Service/Models/DriversLicenceTest.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Models/DriversLicence.cs
Labels: arc-dispute-service

#1693 TCVP-2637 show staff comments in file history
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-file-history/jj-file-history.component.ts
Labels: staff-portal

#1699 TCVP-2832 OCR cleanup counts post-processing rules
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/FormRecognizerValidatorTest.cs
Labels: citizen-api

#1703 Created FormRecognizer cronjobs to cleanup old analyses
  gitops/charts/form-recognizer-3.0/templates/cronjobs.yaml
Labels: dev-ops

#1708 TCVP-2726 Fix province country combo bug and issues caused by refactoring
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Models/OracleDataApiModels.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/oracle-data-api.nswag
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/ViolationTicket.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.ts
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.html
  src/frontend/citizen-portal/src/app/components/dispute-ticket-summary/dispute-ticket-summary.component.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: oracle-data-api, staff-api, staff-portal, citizen-portal

#1709 TCVP-2724 Change Update Dispute screen wording
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.html
  src/frontend/citizen-portal/src/app/components/update-dispute-contact/update-dispute-contact.component.html
  src/frontend/citizen-portal/src/app/components/update-dispute-landing/update-dispute-landing.component.html
Labels: citizen-portal

#1715 Release 1.90.0
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1716 TCVP-2771: Update front-end
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/Staff.Service/Models/Disputes/DisputeListItemExtension.cs
  src/backend/TrafficCourts/Staff.Service/Models/Disputes/GetAllDisputesParameters.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IDisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeControllerTest.cs
  src/frontend/staff-portal/src/app/api/.openapi-generator/FILES
  src/frontend/staff-portal/src/app/api/api/dispute.service.ts
  src/frontend/staff-portal/src/app/api/model/getDisputeCountResponse.model.ts
  src/frontend/staff-portal/src/app/api/model/models.ts
  src/frontend/staff-portal/src/app/api/model/pagedDisputeListItemCollection.model.ts
  src/frontend/staff-portal/src/app/api/model/sortDirection.model.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/app.module.ts
  src/frontend/staff-portal/src/app/components/paging/paging.component.html
  src/frontend/staff-portal/src/app/components/paging/paging.component.scss
  src/frontend/staff-portal/src/app/components/paging/paging.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.ts
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.scss
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.ts
  src/frontend/staff-portal/src/app/services/dispute.service.ts
Labels: staff-portal

#1717 TCVP-2858 Show WR signature on print DCF
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/WrittenReasons.cs
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
Labels: staff-api

#1719 TCVP-2771: Update front-end
  src/frontend/staff-portal/src/app/components/paging/paging.component.html
  src/frontend/staff-portal/src/app/components/paging/paging.component.scss
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.scss
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
Labels: staff-portal

#1706 Add initial redis lock implementation
  src/backend/TrafficCourts/Citizen.Service/Startup.cs
  src/backend/TrafficCourts/Citizen.Service/TrafficCourts.Citizen.Service.csproj
  src/backend/TrafficCourts/Common/Configuration/Extensions.cs
  src/backend/TrafficCourts/Common/TrafficCourts.Common.csproj
  src/backend/TrafficCourts/Staff.Service/Models/Lock.cs
  src/backend/TrafficCourts/Staff.Service/Services/RedisDisputeLockService.cs
  src/backend/TrafficCourts/Staff.Service/Services/RedisLua/Extend.lua
  src/backend/TrafficCourts/Staff.Service/Services/RedisLua/Unlock.lua
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/RedisDisputeLockServiceTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/TrafficCourts.Staff.Service.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Workflow.Service.Test/TrafficCourts.Workflow.Service.Test.csproj
Labels: staff-api

#1721 Remove setting user to 1001 in Workflow service Dockerfile
  src/backend/TrafficCourts/Workflow.Service/Dockerfile
Labels: workflow-service

#1725 Release 1.90.2
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1726 TCVP-2815 Update email wording
  src/backend/TrafficCourts/Workflow.Service/Services/EmailTemplates/DisputantEmailUpdateSuccessfulTemplate.cs
  src/backend/TrafficCourts/Workflow.Service/Services/EmailTemplates/DisputeUpdateRequestAcceptedTemplate.cs
  src/backend/TrafficCourts/Workflow.Service/Services/EmailTemplates/DisputeUpdateRequestReceivedTemplate.cs
  src/backend/TrafficCourts/Workflow.Service/Services/EmailTemplates/DisputeUpdateRequestRejectedTemplate.cs
  src/backend/TrafficCourts/Workflow.Service/Services/EmailTemplates/RejectedDisputeEmailTemplate.cs
Labels: workflow-service

#1727 TCVP-2784 Added generic error message for 500 errors
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
Labels: citizen-portal

#1730 Release 1.90.3
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/frontend/citizen-portal/src/assets/app.config.json
  src/frontend/staff-portal/src/assets/app.config.json
Labels: release

#1732 refactor opentelemetry setup, add fusion cache trace/metrics
  src/backend/TrafficCourts/Citizen.Service/Caching/Cache.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Rsi/RoadSafetyTicketSearchService.cs
  src/backend/TrafficCourts/Citizen.Service/Startup.cs
  src/backend/TrafficCourts/Citizen.Service/TrafficCourts.Citizen.Service.csproj
  src/backend/TrafficCourts/Common/Authentication/KeycloakExtension.cs
  src/backend/TrafficCourts/Common/Configuration/Extensions.cs
  src/backend/TrafficCourts/Staff.Service/Caching/Cache.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IEmailHistoryService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IFileHistoryService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IJJDisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/KeycloakService.cs
  src/backend/TrafficCourts/Staff.Service/Services/RedisDisputeLockService.cs
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Common.Test/GetPropertyTest.cs
  src/backend/TrafficCourts/TrafficCourts.Common.Test/HashidsExtensionsTest.cs
  src/backend/TrafficCourts/TrafficCourts.Common.Test/OpenAPIs/VirusScanApiConfigurationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Caching/FusionCacheExtensions.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Events/BaseDisputeEvent.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Events/BaseEvent.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Events/DisputeChangedEvent.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Events/DisputeCreatedEvent.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Events/DisputesAssignedEvent.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Events/DisputesUnassignedEvent.cs
  src/backend/TrafficCourts/TrafficCourts.Core/TrafficCourts.Core.csproj
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi.Test/OracleDataApiConfigurationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/JJControllerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/JJDisputeServiceTest.cs
  src/backend/TrafficCourts/Workflow.Service/Startup.cs
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
Labels: citizen-api, staff-api

#1734 Postal Code required fix
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: bug, staff-portal

#1741 DCF View Fix
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-file-history/jj-file-history.component.ts
Labels: bug, staff-portal
