Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-06, with the labels that each got.

#1874 TCVP-2873 Remove dispute counts that do not have Act
  src/backend/TrafficCourts/Test/Arc.Dispute.Service/Controllers/TcoDisputeTicketControllerTests.cs
  src/backend/TrafficCourts/Test/Arc.Dispute.Service/Mappings/MappingTests.cs
  src/backend/TrafficCourts/Test/Arc.Dispute.Service/Services/ArcFileServiceTests.cs
  src/backend/TrafficCourts/Test/TrafficCourts.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Controllers/TcoDisputeTicketController.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Mappings/DisputeTicketToArcFileRecordListConverter.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Models/TcoDisputeTicket.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Services/ArcFileService.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Services/IArcFileService.cs
Labels: arc-dispute-service, release 2.2

#1879 TCVP-2950 make adjustments to fix possible memory leak
  gitops/charts/traffic-court-online/charts/arc-dispute-api/templates/deployment.yaml
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Configuration/SftpConnectionOptions.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Services/SftpService.cs
Labels: release 2.1.9

#1878 TCVP-2958 fix error deleting file in coms
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ComsContainers.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/ComsIntegrationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/IntegrationTest.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/FileSearchParameters.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/Models.g.cs
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/ObjectManagementClient.g.cs
Labels: release 2.1.9

#1880 TCVP-2786 update dispute type sent to arc
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Mappers/MapperTest.cs
Labels: release 2.1.9

#1881 TCVP-2687 Add service and endpoints for fetching permissions
  src/backend/TrafficCourts/Common/Authorization/AccessTokenPropagationExtensions.cs
  src/backend/TrafficCourts/Common/Authorization/AccessTokenPropagationHandler.cs
  src/backend/TrafficCourts/Common/Authorization/IKeycloakAuthorizationService.cs
  src/backend/TrafficCourts/Common/Authorization/KeycloakAuthorizationHandler.cs
  src/backend/TrafficCourts/Common/Authorization/KeycloakAuthorizationOptions.cs
  src/backend/TrafficCourts/Common/Authorization/KeycloakAuthorizationService.cs
  src/backend/TrafficCourts/Common/Authorization/KeycloakAuthorizationServiceCollectionExtensions.cs
  src/backend/TrafficCourts/Common/TrafficCourts.Common.csproj
  src/backend/TrafficCourts/Staff.Service/Authentication/Scopes.cs
  src/backend/TrafficCourts/Staff.Service/Features/Permissions/ApplicationPermissions.cs
  src/backend/TrafficCourts/Staff.Service/Features/Permissions/Permission.cs
  src/backend/TrafficCourts/Staff.Service/Features/Permissions/PermissionDto.cs
  src/backend/TrafficCourts/Staff.Service/Features/Permissions/PermissionsEndpoint.cs
  src/backend/TrafficCourts/Staff.Service/Program.cs
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
Labels: staff-api, release 2.2

#1886 TCVP-2744 Save and Retrieve decision made by and TCO audit logs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Models/OracleDataApiModels.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/OrdsTcoApiClientConfiguration.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/AuditLogEntryMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/DisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/AuditLogEntryType.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/DisputeListItem.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/FileHistory.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/FileHistoryRepositoryImpl.java
  src/backend/oracle-data-api/src/main/resources/occm-openapi-spec.yaml
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapperTest.java
  src/frontend/staff-portal/src/app/api/model/disputeListItem.model.ts
  src/frontend/staff-portal/src/app/api/model/jJDispute.model.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
Labels: oracle-data-api, staff-api, ords, staff-portal, release 2.2

#1887 TCVP-2997: Update Status Change Logic
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceH2Test.java
Labels: oracle-data-api, staff-api, release 2.2

#1888 TCVP-2589 Ticket Validation - Upgrade 'Cancel' & 'Reject' Functions [PROD]
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
Labels: enhancement, staff-portal, release 2.2

#1889 TCVP-1617 QA - JJ Workbench - Table header and sorting issues [PROD]
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.scss
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.scss
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.scss
  src/frontend/staff-portal/src/scss/app.scss
Labels: bug, staff-portal, release 2.2

#1892 TCVP-2940 Incorrect error message to disputant [PROD]
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
Labels: bug, citizen-portal, release 2.2

#1893 TCVP-1617 QA - JJ Workbench - Table header and sorting issues [PROD]
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.ts
Labels: bug, staff-portal, release 2.2

#1895 TCVP-2589 Ticket Validation - Upgrade 'Cancel' & 'Reject' Functions [PROD]
  src/backend/TrafficCourts/Messaging/MessageContracts/DisputeCancelled.cs
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/Workflow.Service/Services/EmailTemplates/CancelledDisputeEmailTemplate.cs
Labels: enhancement, staff-api, release 2.2

#1896 TCVP-2589 Ticket Validation - Upgrade 'Cancel' & 'Reject' Functions [PROD]
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
Labels: enhancement, staff-api, release 2.2

#1897 TCVP-2589 Ticket Validation - Upgrade 'Cancel' & 'Reject' Functions [PROD]
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: enhancement, staff-api, staff-portal, release 2.2

#1898 TCVP-3005 RSI Search Date Filter Not Working [PROD]
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/test-ticket-data.csv
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
Labels: bug, citizen-portal, release 2.1.10

#1899 TCVP-3005 RSI Search Date Filter Not Working [PROD]
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
Labels: bug, citizen-portal, release 2.1.10

#1901 Merge hotfix release 2.1.10 into develop
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/test-ticket-data.csv
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
Labels: DON'T MERGE
