Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-07, with the labels that each got.

#1907 TCVP-1617 QA - JJ Workbench - Table header and sorting issues [PROD]
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.ts
Labels: bug, staff-portal, release 2.2

#1900 TCVP-2987 Restructure DCF Screen (Ticket Information Section)
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Models/OracleDataApiModels.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/frontend/staff-portal/src/app/api/.openapi-generator/FILES
  src/frontend/staff-portal/src/app/api/api.module.ts
  src/frontend/staff-portal/src/app/api/api/api.ts
  src/frontend/staff-portal/src/app/api/api/permissions.service.ts
  src/frontend/staff-portal/src/app/api/model/jJDispute.model.ts
  src/frontend/staff-portal/src/app/api/model/models.ts
  src/frontend/staff-portal/src/app/api/model/permission.model.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/services/jj-dispute.service.ts
  src/frontend/staff-portal/src/assets/i18n/en.json
Labels: oracle-data-api, staff-api, staff-portal, release 2.3

#1908 TCVP-2873: Fix submit to ARC logger error
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/Controllers/TcoDisputeTicketController.cs
Labels: bug, arc-dispute-service, release 2.2

#1909 TCVP-2589 fixed the message
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
Labels: enhancement, staff-portal, release 2.2

#1911 TCVP-3012 DCF Search - Missing Columns Arrows
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.scss
Labels: bug, staff-portal, release 2.2

#1913 TCVP-2983 DCF Screen Overhaul - Contact Info/Written Reasons/Collapsible Section & Name Change [PROD]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/assets/i18n/en.json
  src/frontend/staff-portal/src/assets/i18n/fr.json
Labels: enhancement, staff-portal, release 2.3

#1914 TCVP-2985 updated the ui changes
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: enhancement, staff-portal, release 2.3

#1916 TCVP-2996: Add and Map New Print DCF Templates
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/Staff.Service/Controllers/JJController.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/ContactInformation.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/DcfTemplateType.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/DigitalCaseFile.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_HR_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_WR_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/TicketSummary.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/WrittenReasons.cs
  src/backend/TrafficCourts/Staff.Service/Services/IPrintDigitalCaseFileService.cs
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Models/OracleDataApiModels.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/JJDisputeMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/model/JJDispute.java
  src/backend/oracle-data-api/src/main/resources/tco-openapi-spec.yaml
Labels: oracle-data-api, staff-api, release 2.3

#1918 TCVP-2977 Display ICBC-provided ISC/eTicket Names on Ticket Validation screen [PROD]
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
Labels: enhancement, staff-portal, release 2.3

#1921 TCVP-2991 Update Print Options and Display Courthouse Location on DCF
  src/backend/TrafficCourts/Common/Features/Lookups/AgencyLookupService.cs
  src/backend/TrafficCourts/Common/Features/Lookups/IAgencyLookupService.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_HR_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Services/PrintDigialCaseFile/PrintDigitalCaseFileIntegrationTest.cs
  src/frontend/staff-portal/src/app/api/.openapi-generator/FILES
  src/frontend/staff-portal/src/app/api/api/dispute.service.ts
  src/frontend/staff-portal/src/app/api/api/jJ.service.ts
  src/frontend/staff-portal/src/app/api/model/dcfTemplateType.model.ts
  src/frontend/staff-portal/src/app/api/model/jJDispute.model.ts
  src/frontend/staff-portal/src/app/api/model/models.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
  src/frontend/staff-portal/src/app/services/dispute.service.ts
  src/frontend/staff-portal/src/app/services/jj-dispute.service.ts
Labels: staff-api, staff-portal, release 2.3

#1924 TCVP-2986 DCF Screen Overhaul - JJ Decision [PROD]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-remarks/jj-dispute-remarks.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.scss
Labels: enhancement, staff-portal, release 2.3
