Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-12, with the labels that each got.

#2023 Form Recognizer Docs
  docs/form-recognizer.drawio
  gitops/charts/traffic-court-dev-values.yaml
  gitops/charts/traffic-court-prod-values.yaml
  gitops/charts/traffic-court-test-values.yaml
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/ETagHandler.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/IOrdsDataServiceOperationMetrics.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/OrdsDataServiceClient.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/OrdsDataServiceExtensions.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/OrdsDataServiceOperationMetrics.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/TrafficCourts.OrdsDataService.csproj
Labels: documentation

#2021 TCVP 3118 WR Assignments - Front-end Query Improvements
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.scss
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.scss
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-workbench-dashboard/jj-workbench-dashboard.component.html
Labels: bug, staff-portal, release 2.6

#2022 Ords metrics
  src/backend/TrafficCourts/Citizen.Service/TrafficCourts.Citizen.Service.csproj
  src/backend/TrafficCourts/Common/OpenAPIs/Keycloak/v18_0/KeycloakAdminApiClient.g.cs
  src/backend/TrafficCourts/Common/TrafficCourts.Common.csproj
  src/backend/TrafficCourts/Messaging/TrafficCourts.Messaging.csproj
  src/backend/TrafficCourts/Staff.Service/Startup.cs
  src/backend/TrafficCourts/Staff.Service/TrafficCourts.Staff.Service.csproj
  src/backend/TrafficCourts/Test/TrafficCourts.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client.Test/TrafficCourts.Arc.Dispute.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client/ArcDisputeClient.g.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client/TrafficCourts.Arc.Dispute.Client.csproj
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Service/TrafficCourts.Arc.Dispute.Service.csproj
  src/backend/TrafficCourts/TrafficCourts.Cdogs.Client.Test/TrafficCourts.Cdogs.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Cdogs.Client/TrafficCourts.Cdogs.Client.csproj
  src/backend/TrafficCourts/TrafficCourts.Common.Test/TrafficCourts.Common.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Coms.Client.Test/TrafficCourts.Coms.Client.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Coms.Client/TrafficCourts.Coms.Client.csproj
  src/backend/TrafficCourts/TrafficCourts.Core.Test/TrafficCourts.Core.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.Core/TrafficCourts.Core.csproj
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi.Test/TrafficCourts.OracleDataApi.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/TrafficCourts.OracleDataApi.csproj
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService.Test/TrafficCourts.OrdsDataService.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/ETagHandler.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/IOrdsDataServiceOperationMetrics.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/OrdsDataServiceClient.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/OrdsDataServiceExtensions.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/OrdsDataServiceOperationMetrics.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/TrafficCourts.OrdsDataService.csproj
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/TrafficCourts.Staff.Service.Test.csproj
  src/backend/TrafficCourts/TrafficCourts.TicketSearch/TrafficCourts.TicketSearch.csproj
  src/backend/TrafficCourts/TrafficCourts.Workflow.Service.Test/TrafficCourts.Workflow.Service.Test.csproj
  src/backend/TrafficCourts/Workflow.Service/TrafficCourts.Workflow.Service.csproj
Labels: dependencies, staff-api
