Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-09, with the labels that each got.

#1948 TCVP-3037: Refresh Oracle Data Api Connection on Redis Restart
  src/backend/oracle-data-api/pom.xml
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/config/RedisConfig.java
Labels: oracle-data-api, release 2.3

#1951 UAT - Harmonize Date Format - Staff Workbench & DCF Search [WR]
  src/frontend/staff-portal/angular.json
  src/frontend/staff-portal/package.json
  src/frontend/staff-portal/src/app/app.module.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.ts
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.scss
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.ts
  src/frontend/staff-portal/yarn.lock
Labels: enhancement, staff-portal, release 2.3

#1952 TCVP-2769 UAT - Harmonize Date Format - DCF [WR]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
Labels: enhancement, staff-portal, release 2.3

#1953 TCVP-2764 UAT - Harmonize Date Format - Staff Workbench & DCF Search [WR]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.ts
Labels: enhancement, staff-portal, release 2.3

#1954 TCVP-3045 QA - Include Surcharge When Fine not Revised
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.ts
Labels: enhancement, staff-portal, release 2.3

#1955 TCVP-2764 UAT - Harmonize Date Format - Staff Workbench & DCF Search [WR]
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.html
  src/frontend/staff-portal/src/app/components/table-filters/table-filters.component.ts
Labels: enhancement, staff-portal, release 2.3

#1959 Courthouse data fixed
  src/frontend/staff-portal/src/app/config/config.service.ts
  src/frontend/staff-portal/src/tests/mocks/mock-config.service.ts
Labels: bug, staff-portal, release 2.3

#1969 TCVP-3051 fixed the search
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.ts
Labels: bug, staff-portal, release 2.4

#1970 TCVP-3052: Do not require OCR MVA/MVR check
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
Labels: citizen-api, release 2.4

#1971 TCVP-3060: Fix Print DCF does not match DCF view on Staff Portal
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-court-appearances/jj-dispute-court-appearances.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
Labels: staff-api, staff-portal, release 2.3
