Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-08, with the labels that each got.

#1926 TCVP-2941 Add backend endpoint and service for removing counts on validation screen
  .gitignore
  src/backend/TrafficCourts/Staff.Service/Controllers/DisputeController.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Staff.Service/Services/IDisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Interfaces/IOracleDataApiService.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/Client/V1/TimedOracleDataApiClient.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/OracleDataApiService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Controllers/DisputeControllerTest.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/DisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/DisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/main/resources/occm-openapi-spec.yaml
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeControllerTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/h2/DisputeRepositoryImpl.java
Labels: oracle-data-api, staff-api, ords, release 2.3

#1927 TCVP-2975 Update Contact Information Screen / WR Signature Text [PROD]
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.html
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.scss
  src/frontend/citizen-portal/src/assets/i18n/en.json
  src/frontend/citizen-portal/src/assets/i18n/fr.json
Labels: enhancement, citizen-portal, release 2.3

#1928 TCVP-2764 Harmonize Date Format - Staff Workbench & DCF Search [WR]
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/address-update-request-info/address-update-request-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/count-update-request-info/count-update-request-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/court-options-update-request-info/court-options-update-request-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/document-update-request-info/document-update-request-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/name-update-request-info/name-update-request-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/phone-update-request-info/phone-update-request-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-info/update-request-info.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
Labels: enhancement, staff-portal, release 2.3

#1929 TCVP-2769 Harmonize Date Format - DCF [WR]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-court-appearances/jj-dispute-court-appearances.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-updates/jj-dispute-updates.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
Labels: enhancement, staff-portal, release 2.3

#1930 TCVP-3035: Print DCF Updates
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/ContactInformation.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/DigitalCaseFile.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/FormattedDateOnly.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
Labels: staff-api, staff-portal, release 2.3

#1933 TCVP-3034: DCF JJ Updates
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
Labels: staff-api, staff-portal, release 2.3

#1938 TCVP-3035 more print dcf updates
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/backend/oracle-data-api/pom.xml
Labels: oracle-data-api, staff-api, release 2.3

#1939 Fixes for DCF and Print Version and Adds JJ Findings Selection Functionality
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/OffenseCount.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/staff-portal/src/assets/i18n/en.json
Labels: staff-api, staff-portal, citizen-portal, release 2.3

#1941 TCVP-2949 Add Findings Option to WR DCF
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
Labels: staff-portal, release 2.3

#1942 TCVP-3006: Harmonize date format for staff portal
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-status/ticket-status.component.html
Labels: staff-portal, release 2.3

#1944 TCVP-2977: Populate ARC File with Violation Ticket Disputant Name from RSI Ticket Search
  .docker/docker-compose.jaeger.yml
  .env.template
  docker-compose.yml
  src/backend/TrafficCourts/Staff.Service/Mappers/Mapper.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/TrafficCourts.OracleDataApi/OracleDataApiService.cs
  src/backend/TrafficCourts/TrafficCourts.Staff.Service.Test/Mappers/MapperTest.cs
Labels: staff-api, release 2.3

#1945 TCVP-3035: Print DCF Template Updates
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/OffenseCount.cs
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
Labels: staff-api, release 2.3

#1946 TCVP-3043: Fix Print DCF Null Reference Error
  src/backend/TrafficCourts/Staff.Service/Services/PrintDigitalCaseFileService.cs
Labels: staff-api, release 2.3

#1947 TCVP-3035: Update Print DCF Template to Add Section Checkboxes
  src/backend/TrafficCourts/Staff.Service/Models/DigitalCaseFiles/Print/Templates/template_DigitalCaseFile.docx
Labels: staff-api, release 2.3
