Repository bcgov/jag-traffic-courts-online, pull requests merged in 2024-02, with the labels that each got.

#1574 TCVP-2563 Add Act and Sectdion to ticket search
  src/backend/TrafficCourts/Citizen.Service/Controllers/DisputesController.cs
  src/backend/TrafficCourts/Citizen.Service/Controllers/TicketsController.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/Search.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/Search/Handler.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/Search/Request.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/Search/Response.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Common/Invoice.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/MockTicketSearchService.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/test-ticket-data.csv
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Controllers/TicketsControllerTests.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchHandlerTest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchRequestTest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchResponseTest.cs
Labels: citizen-api

#1576 TCVP-2720 Fix Inconsistent Appearance Time
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
Labels: staff-portal

#1578 TCVP-2706 Force MVA/R selection to Count Statute Act lookup
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/FormRecognizerValidatorTest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/CountActRegMustBeMVATest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/DateOfServiceLT30RuleTest.cs
Labels: citizen-api

#1580 TCVP-2651 Filtered etickets to only MVA / MVAR
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Common/OpenAPIs/Keycloak/v18_0/KeycloakAdminApiClient.g.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Common/OpenAPIs/VirusScan/v1/VirusScanClient.g.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Features/Tickets/SearchHandlerTest.cs
  src/backend/TrafficCourts/TrafficCourts.Arc.Dispute.Client/ArcDisputeClient.g.cs
Labels: citizen-api

#1581 TCVP-2497 Fixed bug with display of Dispute Update table
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute-updates/jj-dispute-updates.component.html
Labels: staff-portal

#1582 TCVP-2702 Fixed logic for preferred email
  src/frontend/citizen-portal/src/app/components/disputant-form/disputant-form.component.ts
Labels: citizen-portal

#1585 TCVP-2705 fix total fine amount, description of offence and revised due date label
  src/backend/TrafficCourts/Staff.Service/Services/JJDisputeService.cs
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: staff-api, staff-portal

#1589 TCVP-2740: JJ DCF - Styling/Table Size Issues
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.scss
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
Labels: bug, staff-portal

#1593 TCVP-2737 Improved OCR timeout messaging
  docker-compose.yml
  src/backend/TrafficCourts/Citizen.Service/Configuration/FormRecognizerOptions.cs
  src/backend/TrafficCourts/Citizen.Service/Features/Tickets/AnalyseHandler.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2_1.cs
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Citizen.Service/Validators/FormRecognizerValidator.cs
  src/backend/TrafficCourts/Citizen.Service/Validators/IFormRecognizerValidator.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/FormRecognizerValidatorTest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/CountActRegMustBeMVATest.cs
  src/backend/TrafficCourts/Test/Citizen.Service/Validators/Rules/DateOfServiceLT30RuleTest.cs
Labels: citizen-api

#1594 TCVP-2740: JJ DCF - Styling/Table Size Issues
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.html
Labels: bug, staff-portal

#1599 TCVP-2701: Return to Judicial Justice/Require Court Hearing/Adjourn-Continue Text Entry Broken
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.scss
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-reason-dialog/confirm-reason-dialog.component.html
Labels: bug, staff-portal

#1602 TCVP-2748 Replace empty province values with N/A
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeServiceTest.java
Labels: oracle-data-api

#1605 TCVP-2715: Field "Province/state" is not marked as required in UI, but it's impossible to save it empty if Address is not Canada/USA
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/contact-info/contact-info.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-info/ticket-info.component.ts
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-reason-dialog/confirm-reason-dialog.component.scss
Labels: bug, staff-portal

#1607 Adjust logging in staff api authorization to assist with troubleshooting
  src/backend/TrafficCourts/Common/Authorization/KeycloakAuthorizationHandler.cs
Labels: staff-api

#1608 TCVP-2694 Hide 'Unknown' from languages lookup
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/mapper/LookupMapper.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/impl/ords/LookupServiceImpl.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/LookupServiceTest.java
  src/backend/oracle-data-api/src/test/java/ca/bc/gov/open/jag/tco/oracledataapi/service/impl/csv/LookupServiceImpl.java
Labels: oracle-data-api

#1611 Keycloak Upgrade
  src/frontend/staff-portal/package.json
  src/frontend/staff-portal/yarn.lock
Labels: staff-portal

#1619 Fixed OCR reference to old models
  src/backend/TrafficCourts/Citizen.Service/Services/Impl/FormRecognizerService_2_1.cs
  src/backend/TrafficCourts/Common/Models/OcrViolationTicket.cs
Labels: citizen-api

#1626 TCVP-2680: Update Hearing Additional Info
  src/frontend/citizen-portal/src/app/components/dispute-stepper/dispute-stepper.component.html
  src/frontend/citizen-portal/src/assets/i18n/en.json
  src/frontend/citizen-portal/src/assets/i18n/fr.json
Labels: citizen-portal

#1627 TCVP-2757: javascript:void()
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-hearing-inbox/jj-dispute-hearing-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/ticket-inbox/ticket-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/update-request-inbox/update-request-inbox.component.html
Labels: bug, staff-portal

#1624 TCVP-2467 blank out due date when not guilty
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
Labels: staff-portal

#1629 Updated CI to initialize Form Recognizer model
  .github/workflows/ci-acs-form-recognizer-init.yml
Labels: dev-ops

#1631 TCVP-2753 allow submitting dispute after reject
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/Mock/test-ticket-data.csv
  src/backend/TrafficCourts/Citizen.Service/Services/Tickets/Search/TicketSearchService.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApi.v1_0.json
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/OracleDataApiClient.g.cs
  src/backend/TrafficCourts/Common/OpenAPIs/OracleDataAPI/v1_0/TimedOracleDataApiClient.cs
  src/backend/TrafficCourts/Messaging/MessageContracts/SearchDispute.cs
  src/backend/TrafficCourts/Staff.Service/Services/DisputeService.cs
  src/backend/TrafficCourts/Test/Workflow.Service/Consumers/SearchDisputeConsumerTest.cs
  src/backend/TrafficCourts/Workflow.Service/Consumers/SearchDisputeConsumer.cs
  src/backend/TrafficCourts/Workflow.Service/Services/IOracleDataApiService.cs
  src/backend/TrafficCourts/Workflow.Service/Services/OracleDataApiService.cs
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/controller/v1_0/DisputeController.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/DisputeRepository.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/repository/impl/ords/DisputeRepositoryImpl.java
  src/backend/oracle-data-api/src/main/java/ca/bc/gov/open/jag/tco/oracledataapi/service/DisputeService.java
Labels: oracle-data-api, citizen-api, workflow-service
