Repository bcgov/jag-traffic-courts-online, pull requests merged in 2025-01, with the labels that each got.

#2036 TCVP-3143: Updated business rules for allowing or blocking disputants…
  src/frontend/citizen-portal/src/app/components/update-dispute-landing/update-dispute-landing.component.html
  src/frontend/citizen-portal/src/app/components/update-dispute-landing/update-dispute-landing.component.ts
Labels: citizen-portal, release 2.6

#2044 TCVP-3070 Show 'Confirm Dialog' Info in Require Court Hearing / Adjourn Pop-up [WR - add to release 2.5]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-reason-dialog/confirm-reason-dialog.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-reason-dialog/confirm-reason-dialog.component.scss
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-reason-dialog/confirm-reason-dialog.component.ts
Labels: enhancement, staff-portal, release 2.6

#2045 TCVP-3152: Add filtering by surname or org name
  src/backend/TrafficCourts/Staff.Service/Controllers/JJController.cs
  src/backend/TrafficCourts/Staff.Service/Features/CourtFiles/Summaries/Handler.cs
  src/backend/TrafficCourts/Staff.Service/Features/CourtFiles/Summaries/Request.cs
  src/backend/TrafficCourts/TrafficCourts.Core/Domain/Models/DisputeCaseFileSummary.cs
  src/backend/TrafficCourts/TrafficCourts.OrdsDataService/Tco/OrdsDisputeCaseFileSummary.cs
Labels: enhancement, staff-api, release 2.7

#2049 TCVP-3152 Company names are displaying as "Null" in TCO JJ Workbench and DCF (PROD)
  src/frontend/staff-portal/src/app/api/api/jJ.service.ts
  src/frontend/staff-portal/src/app/api/api/lookup.service.ts
  src/frontend/staff-portal/src/app/api/model/disputeCaseFileSummary.model.ts
  src/frontend/staff-portal/src/app/api/swagger.json
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-digital-case-file/jj-dispute-digital-case-file.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-assignments/jj-dispute-wr-assignments.component.ts
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.html
  src/frontend/staff-portal/src/app/components/jj-workbench/jj-dispute-wr-inbox/jj-dispute-wr-inbox.component.ts
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.html
  src/frontend/staff-portal/src/app/components/staff-workbench/dispute-decision-inbox/dispute-decision-inbox.component.ts
  src/frontend/staff-portal/src/app/services/jj-dispute.service.ts
Labels: enhancement, staff-portal, release 2.7

#2052 TCVP-3070 Show 'Confirm Dialog' Info in Require Court Hearing / Adjourn Pop-up [WR - add to release 2.5]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
Labels: enhancement, staff-portal, release 2.7

#2054 TCVP-3128 Incorrect Wording and VTC Email
  src/frontend/citizen-portal/src/app/services/violation-ticket.service.ts
  src/frontend/citizen-portal/src/app/shared/dialogs/image-ticket-not-found-dialog/image-ticket-not-found-dialog.component.html
Labels: bug, staff-portal, release 2.7

#2053 TCVP-3070 Show 'Confirm Dialog' Info in Require Court Hearing / Adjourn Pop-up [WR - add to release 2.5]
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-dialog/confirm-dialog.component.html
  src/frontend/staff-portal/src/app/shared/dialogs/confirm-reason-dialog/confirm-reason-dialog.component.html
Labels: enhancement, staff-portal, release 2.7

#2055 TCVP-3070 Show 'Confirm Dialog' Info in Require Court Hearing / Adjourn Pop-up
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: enhancement, staff-portal, release 2.7

#2056 TCVP-3070 Show 'Confirm Dialog' Info in Require Court Hearing / Adjourn Pop-up
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: enhancement, staff-portal, release 2.7

#2057 TCVP-3070 Changed the logic based on time to pay and findings selection
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-count/jj-count.component.ts
  src/frontend/staff-portal/src/app/components/jj-dispute-info/jj-dispute/jj-dispute.component.ts
Labels: enhancement, staff-portal, release 2.7
